
.promotion-header-section {
    background: url("../images/bg-main-promotion-pc.png") no-repeat top center / cover;
    height: 896px;
    width: 100%;
    text-align: center;
    padding-top: 118px;
}
.promotion-header-section .promotion-main-title {
    margin-bottom: 118px;
}
.promotion-header-section .promotion-main-title .img-title {
    width: 808px;
    margin: 0 auto;
}
.promotion-header-section .img-promotion {
    position: relative;
    bottom: -5px;
    width: 990px;
    margin: 0 auto;
}
.promotion-content-section {
    padding: 120px 0;
}
.promotion-container-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
@media screen and (max-width:767px) {
    .promotion-content-section {
        padding: 60px 0;
    }
    .promotion-header-section {
        background-image: none;
        background-color: #001E6B;
        height: 380px;
        padding-top: 44px;
    }
    .promotion-header-section .img-promotion {
        position: relative;
        bottom: 8px;
        width: 280px;
    }
    .promotion-header-section .promotion-main-title {
        margin-bottom: 43px;
    }
    .promotion-header-section .promotion-main-title .img-title {
        width: 276px;
        margin: 0 auto;
    }
    .promotion-container-inner {
        max-width: 320px;
        padding: 0 10px;
    }
}
.promotion-header {
    position: relative;
    z-index: 2;
    text-align: center;
}
.promotion-header .sub-title {
    background: linear-gradient(90deg, #8939E8 0%, #32A4F6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Pretendard Light";
    font-size: 2.2rem;
    font-style: normal;
    line-height: 100%;
    /* 22px */
    letter-spacing: -0.45px;
    margin-bottom: 22px;
}
.promotion-header .promotion-title {
    position: relative;
    font-family: "Pretendard Bold";
    font-size: 6rem;
    line-height: 78px;
    /* 130% */
    letter-spacing: -1px;
    color: var(--blue-grey-700);
}

.promotion-header .promotion-title .plus {
    font-size: 4rem;
    vertical-align: 11px;
    font-family: "Pretendard Regular";
    padding: 0 14px;
}
.promotion-title > .primary {
    color: #4E32F6;
}
@media screen and (max-width:767px) {
    .promotion-header .sub-title {
        font-size: 1.6rem;
        line-height: 22px;
        margin-bottom: 12px;
    }
    .promotion-header .promotion-title {
        font-size: 3.2rem;
        line-height: 42px;
        /* 130% */
        letter-spacing: -0.5px;
    }
    .promotion-header .promotion-title .plus {
        font-size: 1.8rem;
        vertical-align: 5px;
        padding: 0 2px;
    }
    .promotion-header .promotion-title .minus {
        font-size: 3rem;
        vertical-align: 1px;
        padding: 0 2px;
    }
}
.event-info-box {
    max-width: 514px;
    margin: 0 auto;
}
.event-info-box .event-info-title {
    font-family: "Pretendard Bold";
    font-size: 2rem;
    line-height: 27px;
    color: var(--blue-grey-700);
    margin-bottom: 20px;
    text-align: center;
}
.event-info-list {
    display: grid;
    justify-content: center;
}
.event-info-box .event-info-item {
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--blue-grey-700);
    margin-bottom: 8px;
    text-align: left;
    text-wrap: nowrap;
}

.event-info-box .event-info-item .title {
    position: relative;
    display: inline-block;
    width: 110px;
    padding-left: 20px;
}
.event-info-box .event-info-item .title::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--blue-grey-700);
    border-radius: 50%;
}
.event-info-box .event-info-item .title::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 0.5px;
    height: 16px;
    background-color: var(--blue-grey-500);
}
.event-info-box .event-info-item .content {
    padding-left: 8px;
    color: var(--blue-grey-600);
}
.event-info-box .event-info-item .content > .bold {
    font-family: "Pretendard Bold";
    color: var(--blue-grey-700);
}
@media screen and (max-width:767px) {
    .event-info-box .event-info-title {
        font-size: 1.6rem;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .event-info-box .event-info-item {
        font-size: 1.4rem;
        line-height: 18px;
    }
    .event-info-box .event-info-item .title {
        width: 82px;
        padding-left: 8px;
    }
    .event-info-box .event-info-item .title::before {
        top: 8px;
        width: 2px;
        height: 2px;
    }
    .event-info-box .event-info-item .title::after {
        content: '';
        position: absolute;
        top: 4px;
        right: 0;
        height: 10px;
    }
    .event-info-box .event-info-item .content .mo-hide {
        display: none;
    }
}
.btn-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard Bold";
    border-radius: 8px;
    background-color: var(--black-color);
    padding: 16px;
    color: var(--white-color);
    font-size: 1.6rem;
}
.btn-promo .primary {
    color: #9B99FF;
    margin-right: 2px;
    display: inline-block;
}
.btn-promo .secondary {
    color: #ACBEFF;
    padding-left: 2px;
    display: inline-block;
}
.btn-promo .primary .strong {
    font-size: 2rem;
    vertical-align: -1px;
    padding-right: 2px;
}
.btn-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard Bold";
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 16px;
    border-radius: 8px;
    background: linear-gradient(90deg, #8939E8 0%, #32A4F6 105%), #221E38;
    border: 0;
    max-width: 290px;
    margin: 0 auto;
}
.btn-promo .icon-right {
    display: inline-block;
    background: url("../images/icon-arrow-right.svg") no-repeat center center /contain;
    width: 24px;
    height: 24px;
}
.btn-gradient .icon-share {
    display: inline-block;
    background: url("../images/icon-share.svg") no-repeat center center /contain;
    width: 24px;
    height: 24px;
    opacity: 0.7;
}
@media screen and (max-width:767px) {
    .btn-promo {
        padding: 14px;
        font-size: 1.4rem;
    }
    .btn-promo .primary .strong {
        font-size: 1.8rem;
    }
    .btn-promo .icon-right {
        width: 20px;
        height: 20px;
        background: url("../images/icon-arrow-right-mo.svg") no-repeat center center /contain;
    }
    .btn-gradient {
        padding: 14px;
        font-size: 1.4rem;
    }
}
.intro-section {
    background-color: var(--white-color);
    padding-top: 218px;
    padding-bottom: 120px;
}
.intro-section .intro-section-title {
    width: 626px;
    text-align: center;
    margin: 0 auto 72px;
}
.intro-section .tab-promo-group .swiper-slide {
    width: auto;
}
.intro-section .tab-promo-group {
    background-color: #F6F7FF;
    margin-top: 72px;
}
.intro-section .tabs-promo {
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    height: 72px;
}
.intro-section .btn-tab-promo {
    display: inline-block;
    color: var(--blue-grey-500);
    text-align: center;
    font-size: 2rem;
    min-width: 182px;
    padding: 24px 28px;
    cursor: pointer;
    height: 72px;
}
.intro-section .btn-tab-promo.active {
    font-family: "Pretendard Bold";
    background: #4E32F6;
    color: var(--white-color);
}
.intro-section .tab-promo-content-section {
    display: none;
    margin-top: 64px;
}
.intro-section .tab-promo-content-section.on {
    display: block;
}
.intro-section .video-box {
    position: relative;
    max-width: 796px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 12px 12px 60px 0 rgba(14, 15, 51, 0.20);
}

.intro-section .video-box::after {
    content: '';
    display: block;
    padding-bottom: 75%;
}
.intro-section .video-box .video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
}
.intro-section .video-info-box {
    max-width: 796px;
    text-align: center;
    margin: 64px auto 0;
}
.intro-section .video-info-box .title {
    font-family: "Pretendard Bold";
    font-size: 3.2rem;
    line-height: 100%;
    color: var(--black-color);
    margin-bottom: 20px;
}
.intro-section .video-info-box .text {
    font-family: "Pretendard Light";
    font-size: 2rem;
    color: var(--blue-grey-700);
    letter-spacing: -0.35px;
    line-height: 32px;
}

@media screen and (max-width:767px) {
    .intro-section {
        padding-top: 78px;
        padding-bottom: 60px;
    }
    .intro-section .tabs-promo {
        max-width: 320px;
        height: 42px;
    }
    .intro-section .tab-promo-group {
        margin-top: 32px;
    }
    .intro-section .btn-tab-promo {
        font-size: 1.4rem;
        min-width: 96px;
        padding: 7px 16px;
        height: 42px;
    }
    .intro-section .tab-promo-content-section {
        margin-top: 28px;
    }
    .intro-section .video-box {
        max-width: 280px;
        box-shadow: 4.221px 4.221px 16px 0 rgba(14, 15, 51, 0.14);
    }
    .intro-section .video-info-box {
        max-width: 280px;
        text-align: left;
        margin-top: 28px;
    }
    .intro-section .video-info-box .title {
        font-size: 1.6rem;
        margin-bottom: 12px;
    }
    .intro-section .video-info-box .text {
        font-size: 1.4rem;
        line-height: 22px;
        /* 157.143% */
    }
}
.book-swiper-section {
    background: linear-gradient(180deg, #F9FAFF 0%, #F8FAFF 100%);
    overflow: hidden;
}
.book-swiper-section .icon-special {
    display: inline-block;
    background: url("../images/icon-special.svg") no-repeat center center /contain;
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
}
.book-swiper-section .app-down-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    display: block;
    width: 60px;
    height: 1px;
    background-color: #CAD3E8;
}
.book-swiper-section .app-down-box {
    position: relative;
    padding-top: 56px;
    text-align: center;
}
.book-swiper-section .app-down-box .info-text {
    font-size: 2.4rem;
    line-height: 32px;
    color: var(--blue-grey-700);
}
.book-swiper-section .app-down-box .info-text > .bold {
    font-family: "Pretendard Bold";
}
.book-swiper-section .app-down-box .btn-app-downs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 36px;
}
.book-swiper-section .app-down-box .btn-app-down {
    display: flex;
    width: 240px;
    height: 72px;
    padding: 20px 32px 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 2rem;
    line-height: 32px;
    border-radius: 8px;
    border: 1px solid var(--Border-Border-primary, #E5E8EB);
    background: var(--color-Secondary-White, #FFF);
    box-shadow: 4px 4px 22px 0 rgba(194, 202, 255, 0.30);
}

.book-swiper-section .app-down-box .logo-apple,
.book-swiper-section .app-down-box .logo-google {
    width: 32px;
    height: 32px;
}
.book-swiper-section .tablet-swiper {
    position: relative;
    margin: 103px auto 67px;
    padding-top: 1px;
}
.book-swiper-section .tablet-frame {
    width: 434px;
    height: 570px;
    position: absolute;
    top: -17.5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
.book-swiper-section .tablet-applpen {
    position: absolute;
    top: 60px;
    right: 50%;
    transform: translateX(310px);
    width: 174px;
    height: 380px;
    z-index: 5;
}
.book-swiper-section .tablet-swiper .swiper-button-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    max-width: 1000px;
    z-index: 100;
}
.book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-prev {
    position: absolute;
    left: -368px;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1.9181896448135376px);
    width: 50px;
    height: 50px;
    border: 0;
    z-index: 100;
}
.book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-next {
    position: absolute;
    right: -368px;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1.9181896448135376px);
    width: 50px;
    height: 50px;
    border: 0;
    z-index: 100;
}
/* .book-swiper-section .tablet-swiper .swiper-slide {    
    width: 444px;
    height: 593px;
    margin: 0 30px;
} */
/* .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active{
    width: 444px;
    height: 593px;
    overflow: hidden;
} */
/* .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-box{
    width: 888px;
    height: 593px;  
} */
/* .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-item{
    position: relative;
    width: 444px;
    height: 593px;
    perspective: 1000px;
} */

.book-swiper-section .tablet-swiper .swiper {
    max-width: 50%;
    overflow: visible;
}
.book-swiper-section .tablet-swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 534px;
    /* width: 300px;
        height: 400px; */
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    overflow: hidden;
}
.book-swiper-section .tablet-swiper .swiper-slide .book {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    width: 102%;
    height: 102%;
    transform: rotateY(0deg);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 0 0;
}
.book-swiper-section .tablet-swiper .swiper-slide .book-cover {
    opacity: 0.5;
}
.book-swiper-section .tablet-swiper .swiper-slide .book-inside {
    opacity: 0;
}
.book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-cover {
    z-index: 1;
    pointer-events: none;
    transform-style: preserve-3d;
    animation-duration: 4s;
    animation-name: slidein;
    opacity: 1;
}
.book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-inside {
    z-index: 0;
    opacity: 1;
}

@keyframes slidein {
    from {
        transform-origin: left center;
    }

    to {
        transform: rotateY(-180deg);
        opacity: 0.2;
    }
}
@media screen and (max-width:767px) {
    .book-swiper-section .promotion-header .promotion-title {
        font-size: 3.6rem;
    }
    .book-swiper-section .icon-special {
        width: 30px;
        height: 26px;
        margin-bottom: 12px;
    }
    .book-swiper-section .app-down-box {
        padding-top: 0;
    }
    .book-swiper-section .app-down-box::after {
        display: none;
    }
    .book-swiper-section .app-down-box .info-text {
        font-size: 1.2rem;
        line-height: 18px;
    }
    .book-swiper-section .app-down-box .btn-app-downs {
        margin-top: 14px;
    }
    .book-swiper-section .app-down-box .btn-app-down {
        width: 128px;
        height: 48px;
        padding: 14px 16px;
        gap: 0;
        font-size: 1.4rem;
        line-height: 100%;
        /* 14px */
        border: 0;
    }

    .book-swiper-section .app-down-box .logo-apple,
    .book-swiper-section .app-down-box .logo-google {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 3px;
    }
    .book-swiper-section .tablet-swiper {
        margin-top: 37px;
        padding-top: 9px;
        margin-bottom: 43px;
        width: 307px;
        height: 278px;
        overflow: hidden;
    }
    .book-swiper-section .tablet-frame {
        top: 0;
        width: 212px;
        height: 278px;
    }
    .book-swiper-section .tablet-applpen {
        top: 10px;
        width: 98px;
        height: 197px;
        transform: translateX(130px);
    }
    .book-swiper-section .tablet-swiper .swiper-slide,
    .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active,
    .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-box {
        width: 194px;
        height: 260px;
    }
    .book-swiper-section .tablet-swiper .swiper-slide.swiper-slide-active .book-item {
        width: 194px;
        height: 260px;
    }
    .book-swiper-section .tablet-swiper .swiper-button-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1000px;
        z-index: 100;
    }

    .book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-prev {
        left: -150px;
        width: 28px;
        height: 28px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
    .book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-next {
        right: -150px;
        width: 28px;
        height: 28px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
    .book-swiper-section .tablet-swiper .swiper-slide {
        border-radius: 2px;
    }
}
@media (hover: none), (pointer: coarse), (hover: none) and (pointer: coarse), (hover: none) and (pointer: fine) {
    .book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-next,
    .book-swiper-section .tablet-swiper .swiper-button-box .swiper-button-prev {
        display: flex;
    }
}

.book-list-section {
    background-color: #FBF7FF;
    background: url("../images/bg-pink.png") no-repeat top center /cover;
}
.book-list-section .promotion-title {
    display: inline-block;
}
.book-list-section .icon-free {
    position: absolute;
    top: -11px;
    right: -28px;
    display: inline-block;
    background: url("../images/icon-free.png") no-repeat center center /contain;
    width: 54px;
    height: 38px;
}

.book-list-section .book-list-box {
    margin-top: 82px;
}
.book-list-section .tabs-promo-black {
    display: flex;
}
.book-list-section .tab-promo-black {
    position: relative;
    display: inline-block;
    color: var(--blue-grey-600);
    text-align: center;
    font-size: 2rem;
    width: 100%;
    border: 8px;
    padding: 14px 20px;
    background-color: var(--white-color);
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
}
.book-list-section .tab-promo-black:first-child {
    border-radius: 8px 0 0 0;
    border-left: 1px solid var(--border-primary);
}
.book-list-section .tab-promo-black:last-child {
    border-radius: 0 8px 0 0;
}
.book-list-section .tab-promo-black.active {
    font-family: "Pretendard Bold";
    background: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
}
.book-list-section .tab-promo-content {
    display: none;
    padding: 76px 53px 64px;
    background-color: var(--white-color);
    border-radius: 0 0 8px 8px;
}
.book-list-section .tab-promo-content.on {
    display: block;
}
.book-list-section .tab-promo-content .btn-promo-more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard SemiBold";
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--blue-grey-500);
    text-align: center;
}
.book-list-section .tab-promo-content .btn-promo-more > .icon-more {
    display: inline-block;
    background: url("../images/icon-more.svg") no-repeat center center / contain;
    width: 24px;
    height: 24px;
}
.book-list-section .bubble {
    position: absolute;
    left: 50%;
    top: -55px;
    transform: translateX(-50%);
    background-color: #9D4BFF;
    font-family: "Pretendard Light";
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.35px;
    padding: 8px 16px;
    border-radius: 20px;
    white-space: pre;
    filter: drop-shadow(2px 4px 16px rgba(0, 0, 0, 0.25));
    z-index: 6;
}
.book-list-section .bubble .bold {
    font-family: "Pretendard Bold";
}
.book-list-section .bubble::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: url("../../promotion0902/images/img-bubble.svg") no-repeat center center / contain;
    width: 16px;
    height: 12px;
}
.book-list-section .info-text {
    margin-top: 32px;
    font-size: 1.8rem;
    line-height: 27px;
    text-align: center;
    opacity: 0.6;
}
.book-list-section .thumb-grid-items.promotion {
    align-items: flex-end;
    grid-template-columns: repeat(5, auto);
}
.book-list-section .thumb-grid-items.promotion .thumb-item {
    margin-top: 0;
}
.book-list-section .thumb-grid-items.promotion .thumb-grid-item .thumb-item-text-area {
    height: 135px;
}
@media screen and (max-width: 1200px) {
    .book-list-section .thumb-grid-items.promotion {
        grid-template-columns: repeat(3, auto);
    }
}
@media screen and (max-width:767px) {
    .book-list-section .thumb-grid-items.promotion {
        align-items: flex-start;
    }
    .book-list-section .icon-free {
        top: -16px;
        right: -27px;
        width: 49px;
        height: 30px;
    }
    .book-list-section .book-list-box {
        margin-top: 26px;
    }
    .book-list-section .tabs-promo-black {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .book-list-section .tab-promo-black {
        font-family: "Pretendard SemiBold";
        font-size: 1.6rem;
        color: var(--blue-grey-400);
        padding: 12px;
    }
    .book-list-section .tab-promo-black:first-child {
        border-radius: 8px 0 0 0;
        border-bottom: 0;
        border-left: 0;
        border-top: 0;
    }
    .book-list-section .tab-promo-black:nth-child(2) {
        border-radius: 0 8px 0 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
    }
    .book-list-section .tab-promo-black:last-child {
        border-radius: 0 0 0 0;
        border-right: 0;
    }
    .book-list-section .bubble {
        font-size: 1.2rem;
        line-height: 18px;
        top: 42px;
    }
    .book-list-section .bubble::before {
        content: '';
        bottom: 32px;
        width: 13px;
        height: 10px;
        transform: rotate(180deg);
    }
    .book-list-section .info-text {
        margin-top: 16px;
        font-size: 1.2rem;
        line-height: 18px;
    }
    .book-list-section .tab-promo-content {
        padding: 28px 16px 32px;
    }
    .book-list-section .tab-promo-content .btn-promo-more {
        font-size: 1.6rem;
    }
    .book-list-section .thumb-grid-items.promotion {
        column-gap: 17px;
        grid-template-columns: repeat(2, auto);
        padding: 0;
    }
    .book-list-section .thumb-grid-items.promotion .thumb-grid-item,
    .book-list-section .thumb-grid-items.promotion .thumb-grid-item .book-thumb-area {
        width: 114px;
    }
    .book-list-section .thumb-grid-items.promotion .thumb-item {
        margin-top: 0;
    }
    .book-list-section .thumb-grid-items.promotion .thumb-grid-item .thumb-item-text-area {
        height: 135px;
    }
}

.book-thumb-area .book-hover {
    display: none;
}
.book-thumb-area.badge-special::before {
    z-index: 4;
}
.book-thumb-area:hover .book-hover {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px 8px 8px 2px;
}
.book-thumb-area:hover .book-hover > .text {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50% , -50%);
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    color: var(--white-color);
    line-height: 24px;
    /* 150% */
    white-space: pre;
}
.book-thumb-area:hover .book-hover > .text .icon-arrow-right {
    display: block;
    background: url("../../promotion0902/images/icon-arrow-right-white.svg") no-repeat center center /contain;
    width: 22px;
    height: 22px;
}

.book-stemp .book-stemp-cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: block;
    background: url("../../promotion0902/images/img-stamp.png") no-repeat center center /contain;
    width: 103px;
    height: 60px;
    z-index: 1;
}
.book-stemp .book-thumb img {
    opacity: 0.4;
}
.book-stemp:hover .book-hover {
    display: none;
}
.book-stemp.book-thumb-area.badge-special::before {
    opacity: 0.4;
}
.event-terms-section {
    background-color: var(--white-color);
}
.event-terms-section .terms-list-title {
    color: var(--black-color);
    font-size: 2.2rem;
    font-family: "Pretendard Bold";
    margin-bottom: 20px;
    padding-left: 8px;
}
.event-terms-section .terms-list .terms-item {
    position: relative;
    font-size: 1.8rem;
    color: var(--blue-grey-600);
    line-height: 32px;
    padding-left: 26px;
    margin-bottom: 16px;
}
.event-terms-section .terms-list .terms-item > strong {
    font-family: "Pretendard SemiBold";
}
.event-terms-section .terms-list .terms-item:last-child {
    margin-bottom: 0;
}
.event-terms-section .terms-list .terms-item::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 15px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 8px;
    background-color: var(--blue-grey-600);
}
.event-terms-section .terms-list-2depth {
    margin-top: 2px;
}
.event-terms-section .terms-list-2depth .terms-item-2depth {
    font-size: 1.8rem;
    color: var(--blue-grey-600);
    line-height: 32px;
}

@media screen and (max-width:767px) {
    .event-terms-section .terms-list-title {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }
    .event-terms-section .terms-list .terms-item {
        font-size: 1.4rem;
        line-height: 22px;
        padding-left: 23px;
        margin-bottom: 8px;
    }
    .event-terms-section .terms-list .terms-item::after {
        content: '';
        left: 8px;
        top: 10px;
        width: 3px;
        height: 3px;
    }
    .event-terms-section .terms-list-2depth .terms-item-2depth {
        font-size: 1.4rem;
        line-height: 22px;
    }
}

.popup-section.coming-soon .img-box {
    width: 156px;
    margin: 0 auto 16px;
}
