/* color */
:root {
    --primary-color: #4E32F6;
    --gradient-M: #4E32F6;
    --gradient-M: #4E32F6;
    --gradient-S: #4E28E9;
    --gradient-S: #8939E8;
    --main-light-600: #1e216f;
    --main-light-500: #5671FF;
    --main-light-400: #90A1FF;
    --main-light-300: #B4C0FD;
    --main-light-200: #D4DCFF;
    --main-light-100: #EBEEFF;
    --main-light-50: #F7F8FF;
    --blue-grey-700: #191F28;
    --blue-grey-600: #4E5968;
    --blue-grey-500: #6B7684;
    --blue-grey-400: #B0B8C1;
    --blue-grey-300: #D1D6DB;
    --blue-grey-200: #E5E8EB;
    --blue-grey-100: #F2F4F6;
    --blue-grey-50: #F9FAFB;
    --gray-color-700: #1D1D1F;
    --gray-color-600: #6B6B6B;
    --gray-color-500: #999999;
    --gray-color-400: #A8A8A8;
    --gray-color-300: #D6D6D6;
    --gray-color-200: #E2E2E8;
    --gray-color-100: #EEEEEF;
    --gray-color-50: #F9F9FB;
    --black-color: #000;
    --white-color: #fff;
    --green-color: #1DD5A5;
    --red-color: #FF2C52;
    --border-primary: #E5E8EB;
    --max-width: 1366px;
    --min-width: 1024px;
    --box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s cubic-bezier(0, .21, .03, 1.01);
}

/* font */
@font-face {
    font-family: "Pretendard Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Pretendard-Bold.eot");
    /* Legacy iOS */
    /* IE9 Compat Modes */
    src:local(""), url("../fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/Pretendard-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/Pretendard-Bold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/Pretendard-Boldr.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url( "../fonts/Pretendard-Bold.svg#NotoSansKR") format("svg"))))
}

@font-face {
    font-family: "Pretendard SemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Pretendard-SemiBold.eot");
    /* Legacy iOS */
    /* IE9 Compat Modes */
    src:local(""), url("../fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/Pretendard-SemiBold.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/Pretendard-SemiBold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/Pretendard-SemiBoldr.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url( "../fonts/Pretendard-SemiBold.svg#NotoSansKR") format("svg"))))
}

@font-face {
    font-family: "Pretendard Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Pretendard-Regular.eot");
    /* Legacy iOS */
    /* IE9 Compat Modes */
    src:local(""), url("../fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/Pretendard-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/Pretendard-Regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/Pretendard-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url( "../fonts/Pretendard-Regular.svg#NotoSansKR") format("svg"))))
}

@font-face {
    font-family: "Pretendard Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Pretendard-Light.eot");
    /* Legacy iOS */
    /* IE9 Compat Modes */
    src:local(""), url("../fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/Pretendard-Light.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/Pretendard-Light.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/Pretendard-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url( "../fonts/Pretendard-Light.svg#NotoSansKR") format("svg"))))
}

/* reset */
* {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* ::after,
* ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    border: none;
}

strong {
    font-family: "Noto Sans Bold";
}
.scroll-lock {
    overflow: hidden;
}
.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.off {
    display: none !important;
}

.primary-color {
    color: var(--primary-color);
}

select {
    vertical-align: middle;
    border-radius: 6px;
}

html {
    font-size: 62.25%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    -webkit-touch-callout: none;
    min-height: 100vh;
    min-height: -webkit-fill-available;

}

body {
    background: var(--white-color);
    font-style: normal;
    font-family: "Pretendard Regular", sans-serif, "맑은 고딕", arial;
    color: var(--black-color);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    word-break: break-all;
}

ol ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    vertical-align: baseline;
    border: none;
}

textarea {
    font-family: "Noto Sans", "Karla-Bold", sans-serif, "맑은 고딕", arial;
    letter-spacing: -0.35px;
    width: 100%;
    resize: none;
    border-color: transparent;
}

textarea:focus {
    outline: 0;
}

button,
input,
textarea,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
select,
textarea {
    border-radius: 0;
}

input {
    vertical-align: middle;
    opacity: 1;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(61, 61, 61, 0.3);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(61, 61, 61, 0.3);
}

::-moz-placeholder {
    color: rgba(61, 61, 61, 0.3);
}

::-ms-input-placeholder {
    color: rgba(61, 61, 61, 0.3);
}

::placeholder {
    color: rgba(61, 61, 61, 0.3);
}

input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus-visible {
    outline: 0;
    border: 0;
}

select::-ms-expand {
    display: none;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

button ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.line-1-text {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}
.only-mobile {
    display: none;
}
.only-pc {
    display: block;
}
@media screen and (max-width:767px) {

    .only-mobile {
        display: block !important;
    }

    .only-pc {
        display: none !important;
    }
}
/*display*/
.inline-block {
    display: inline-block;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}
.color-primary {
    color: var(--primary-color);
}
.color-red {
    color: var(--red-color);
}
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-240 {
    margin-left: 240px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-5 {
    padding-top: 5px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.height-140 {
    height: 140px !important;
}

.width-auto {
    width: auto !important;
}

.width-full {
    width: 100% !important;
}

.width-50 {
    width: 50% !important;
}

.width-60 {
    width: 60px !important;
}
.width-116 {
    width: 130px !important;
}

.width-130 {
    width: 130px !important;
}

.width-140 {
    width: 140px !important;
}

.width-150 {
    width: 150px !important;
}

.width-154 {
    width: 154px !important;
}

.width-180 {
    width: 180px !important;
}

.width-190 {
    width: 190px !important;
}

.width-240 {
    width: 240px !important;
}

.width-315 {
    width: 315px !important;
}

.width-360 {
    width: 360px !important;
}

.width-390 {
    width: 390px !important;
}

.width-400 {
    width: 400px !important;
}

.width-500 {
    width: 500px !important;
}

.height-44 {
    height: 44px !important;
}

.height-52 {
    height: 52px !important;
}

.height-124 {
    height: 124px !important;
}

.height-180 {
    height: 180px !important;
}

.height-200 {
    height: 200px !important;
}

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

/*layout*/
.container {
    width: 100%;
}

/*main-contents-section*/
.main-contents-section:first-child {
    padding-top: 0;
}

.main-contents-section {
    padding: 52px 0;
}

.main-contents-section .main-contents-header .main-contents-header-title {
    font-family: "Pretendard Bold";
    font-size: 2.4rem;
    line-height: 34px;
}

.main-contents-section .main-contents-header .main-contents-header-sub-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    margin-top: 8px;
    color: var(--gray-color-600);
}

.main-contents-section .main-contents-header-both {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-contents-section .main-contents-header-both > .btn-more {
    display: flex;
    align-items: center;
    font-family: "Pretendard SemiBold";
    color: var(--blue-grey-500);
    font-size: 1.4rem;
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .main-contents-section {
        padding: 28px 0;
    }
    .main-contents-section .main-contents-header .main-contents-header-title {
        font-family: "Pretendard Bold";
        font-size: 2rem;
        line-height: 24px;
    }
    .main-contents-section .main-contents-header-both > .btn-more > .text {
        display: none;
    }

}

/*content-section */
.content-section {
    display: inline-block;
    width: 100%;
    padding: 0 70px;
}

.content-block-group {
    margin: 60px 0;
}

.content-large-block-group {
    margin: 80px 0;
}

.content-block-group:first-child,
.content-large-block-group:first-child {
    margin-top: 0;
}

.content-block-group:last-child,
.content-large-block-group:last-child {
    margin-bottom: 0;
}

.content-block-group .content-header,
.content-large-block-group .content-header {
    margin-bottom: 20px;
}

.content-header-section {
    padding: 60px 70px;
    background-color: #f6f6f6;
}

.content-header-section > .flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-header-section > .flex > p {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid rgba(61, 61, 61, 0.2);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    font-family: "Noto Sans Medium";
    color: #3d3d3d;
    line-height: 1.43;
}

.content-header-section .sub-text {
    font-size: 18px;
    font-weight: 500;
    color: rgba(61, 61, 61, 0.5);
    margin-bottom: 10px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
}

.content-header-section.bg-white {
    background-color: #fff;
}

.content-header-section.bg-white > .flex > p {
    border-left: 0;
    margin-left: 14px;
    padding-left: 0;
    padding-top: 3px;
    color: rgba(61, 61, 61, 0.5);
}

.content-header-section .content-header {
    font-family: "Noto Sans Bold";
    font-size: 36px;
    text-align: left;
    color: #3d3d3d;
    margin-bottom: 0;
}

.content-header-section .profile-area {
    padding-top: 30px;
    border-top: 1px solid #cbcbcb;
    margin-top: 50px;
    margin-bottom: -30px;
}

.content-header-section .btn-tab {
    margin-top: 80px;
    margin-bottom: -60px;
}

.content-header-section .btn-tab-box {
    margin-top: 80px;
    margin-bottom: -60px;
}

.content-header-section .btn-tab-box .btn-tab {
    margin-top: 0;
    margin-bottom: 0;
}

/*content-header */
.content-header {
    margin-bottom: 30px;
}

.content-border-header {
    margin-bottom: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #3d3d3d;
}

.content-header.both-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-header .content-title {
    font-family: "Noto Sans Medium";
    font-size: 26px;
    font-weight: 400;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
}

.content-header .content-left,
.content-header .content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-header .sub-text {
    display: inline-block;
    margin-top: 4px;
    font-family: "Noto Sans Medium";
    margin-left: 14px;
    font-size: 18px;
    color: rgba(61, 61, 61, 0.5);
}

.sub-content-section {
    margin-bottom: 90px;
}

.content-box-items-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 30px;
}

.content-box-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    padding: 34px 0;
    border: solid 1px #a4a4a4;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 0;
    -ms-flex: 0 0 720px;
    -webkit-box-flex: 0;
    flex: 0 0 720px;
    max-width: 720px;
}

.content-box-items .box-item {
    display: -ms-grid;
    display: grid;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    border-left: 1px solid rgba(164, 164, 164, 0.4);
}

.content-box-items .box-item .title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 18px;
    color: rgba(61, 61, 61, 0.7);
}

.content-box-items .box-item strong {
    font-size: 22px;
    font-weight: bold;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    color: #3d3d3d;
}

.content-box-items .box-item:first-child {
    border-left: 0;
}

.content-box-items:nth-child(3) {
    margin-left: 0;
    -ms-flex: 0 0 180px;
    -webkit-box-flex: 0;
    flex: 0 0 180px;
    max-width: 180px;
}

.content-box-items:nth-child(3) .box-item {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.content-box-items+.content-box-items {
    margin-left: 32px;
}

.sub-option-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*icon*/
.icon-close-16 {
    display: inline-block;
    background: url("../images/ic-close-16.svg") no-repeat center center/ contain;
    width: 16px;
    height: 16px;
}
.icon-close-24 {
    display: inline-block;
    background: url("../images/ic-close-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}
.icon-close-32 {
    display: inline-block;
    background: url("../images/ic-close-32.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}
.icon-close-gray {
    display: inline-block;
    background: url("../images/ic-close-gray.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.icon-arrow-right-16 {
    display: inline-block;
    background: url("../images/ic-arrow-right-16.svg") no-repeat center center/ contain;
    width: 16px;
    height: 16px;
}

.icon-pause-24 {
    display: inline-block;
    background: url("../images/ic-pause-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.icon-menu-24 {
    display: inline-block;
    background: url("../images/ic-menu-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}
.icon-menu-left {
    display: inline-block;
    background: url("../images/ic-menu-left.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}
.icon-back-24 {
    display: inline-block;
    background: url("../images/ic-back-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}
.icon-search-32 {
    display: inline-block;
    background: url("../images/ic-search-32.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}
.icon-info {
    display: inline-block;
    background: url("../images/ic-info.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

/*tab*/
.btn-swiper-tab {
    display: inline-block;
    color: var(--blue-grey-400);
    text-align: center;
    font-size: 1.4rem;
    min-width: 66px;
    padding: 8px 0;
    line-height: 16px;
}

.btn-swiper-tab:last-child {
    margin-right: 0;
}

.btn-swiper-tab.active {
    border-radius: 8px;
    background: var(--black-color);
    color: var(--white-color);
}
/*btn-top-scroll*/
.btn-top-scroll-area {
    position: fixed;
    z-index: 55;
    right: 28px;
    right: calc(constant(safe-area-inset-right) + 28px);
    right: calc(env(safe-area-inset-right) + 28px);
    transform: auto;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    bottom: calc(constant(safe-area-inset-bottom) + 40px);
    bottom: calc(env(safe-area-inset-bottom) + 40px);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.btn-top-scroll-area.on {
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
}

.btn-top-scroll {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40);
}

.btn-top-scroll .icon-top {
    display: inline-block;
    background: url("../images/ic-top-scroll.svg") no-repeat center center/ contain;
    width: 10px;
    height: 10px;
}

.btn-top-scroll .text {
    display: block;
    margin-top: 2px;
    font-size: 1rem;
    line-height: 14.286px;
    color: var(--white-color);
}
@media screen and (min-width:1366px) {
    .btn-top-scroll-area {
        right: 50%;
        transform: translateX(655px);
    }
}

/*btn-area*/
.btn {
    display: inline-block;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    background: transparent;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-keywords {
    display: flex;
    gap: 8px;
}

.btn-keyword {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: var(--blue-grey-50);
}

.btn-keyword .text {
    padding-right: 28px;
}

.btn-keyword .btn-delete {
    position: absolute;
    top: 15px;
    right: 16px;
}

.btn.icon-left > .icon {
    margin-right: 10px;
    margin-left: -9px;
}

.btn.icon-right > .icon {
    margin-left: 10px;
    margin-right: -9px;
}

.btn-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-flex .icon-left {
    margin-left: -9px;
    margin-right: 10px;
}

.btn-flex .icon-right {
    margin-left: 10px;
    margin-right: -9px;
}

.btn-link {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    text-decoration: underline;
}

.btn-link.icon-left > .icon {
    margin-right: 10px;
}

.btn-link.icon-right > .icon {
    margin-left: 10px;
}

.btn-link-more {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--primary-color);
}

.btn-link-more::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    background: url("../images/ic-arrow-right-primary.svg") no-repeat center center / contain;
    width: 14px;
    height: 14px;
}

.btn-tag {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #d9d9d9;
}

.btn-tag .text {
    display: block;
    font-size: 14px;
    margin-right: 34px;
}

.btn-tag .sub-text {
    margin-top: 2px;
    font-size: 12px;
    color: rgba(61, 61, 61, 0.7);
}

.btn-tag .btn-cancel {
    position: absolute;
    top: 8px;
    right: 10px;
}

.btn-full {
    width: 100%;
}
.btn-x-small {
    font-size: 1.4rem;
    line-height: 36px;
    padding: 0 12px;
}

.btn-small {
    font-size: 1.4rem;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
}

.btn-medium {
    font-family: "Pretendard SemiBold";
    font-size: 1.4rem;
    line-height: 42px;
    padding: 0 24px;
    border-radius: 8px;
}

.btn-medium-02 {
    font-family: "Pretendard SemiBold";
    font-size: 1.4rem;
    line-height: 46px;
    padding: 0 24px;
    border-radius: 8px;
}

.btn-large {
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    line-height: 52px;
    padding: 0 24px;
    box-shadow: 0 6px 12px 0 #C2C1FF;
    border-radius: 8px;
}
.btn-large:disabled {
    box-shadow: 0 0 0 0 transparent;
}

.btn-popup {
    font-size: 1.6rem;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 8px;
}

.btn-icon-xsmall {
    height: 24px;
    width: 24px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.btn-icon-small {
    height: 44px;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
}

.btn-text {
    font-family: "Pretendard SemiBold";
    color: var(--blue-grey-400);
    font-size: 1.4rem;
    text-decoration: none;
}

.btn-text-black {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
}

.btn-default {
    border-radius: 6px;
    border: solid 1px #cbcbcb;
    background-color: #fff;
    color: #3d3d3d;
}

.btn-default.on {
    border: solid 1px #3d3d3d;
}

.btn-default:disabled {
    border-radius: 6px;
    border: solid 1px #d9d9d9;
    background-color: #d9d9d9;
    color: rgba(61, 61, 61, 0.5);
}

.btn-primary {
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-primary:disabled {
    border: solid 1px var(--blue-grey-50);
    background-color: var(--blue-grey-50);
    color: var(--blue-grey-300);
}

.btn-secondary {
    border: solid 1px var(--blue-grey-100);
    background-color: var(--blue-grey-100);
    color: var(--blue-grey-600);
}

.btn-secondary:disabled {
    border: solid 1px var(--blue-grey-50);
    background-color: var(--blue-grey-50);
    color: var(--blue-grey-300);
}

.btn-transparent {
    background-color: transparent !important;
}

.icon-xsmall {
    width: 14px;
    height: 14px;
}

.icon-small {
    width: 16px;
    height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.btn-flex-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
}
/* scroll */
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}

/*form-area*/
.form-group {
    position: relative;
}

.form-group.error .form-control {
    border-color: #e6261a;
    padding-right: 35px;
}

.form-group.error .error-text {
    display: block;
    padding: 6px 18px 0;
    font-size: 10px;
    color: #e6261a;
}

.form-group .error-text {
    display: none;
}

.form-group.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.form-group.flex .text {
    display: block;
    margin-left: 10px;
    white-space: nowrap;
}

.form-title {
    display: inline-block;
    font-family: "Noto Sans Medium";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-set-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-set-group .text {
    height: 20px;
    padding: 0 12px;
}

.form-small {
    height: 44px;
    padding: 12px 18px;
}

.form-medium {
    height: 52px;
    padding: 14px 18px;
}

.form-white {
    background-color: #fff !important;
}

.form-control {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    background-color: var(--white-color);
    color: var(--blue-grey-500);
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid 1px #E6E8EA;
    width: 100%;
    border-radius: 10px;
    padding: 12px 20px;
}

.form-control:hover {
    border: solid 1px var(--primary-color);
    -webkit-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    -o-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
}
.form-control:focus,
.form-control:focus-visible {
    outline: none;
    border-color: var(--primary-color);
    -webkit-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    -o-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
}

.form-control:disabled,
.form-control:disabled:hover {
    cursor: default;
    background-color: var(--gray-color-500);
    border-color: inherit;
    color: rgba(61, 61, 61, 0.3);
}

.form-control[readonly] {
    cursor: default;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #3d3d3d;
}

.form-textarea {
    font-size: 16px;
    color: #3d3d3d;
    padding: 24px 30px;
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #cbcbcb;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent rgba(171, 171, 171, 0.6);
    word-break: break-all;
    word-wrap: break-word;
}

.form-textarea.small {
    padding: 14px 18px;
}

.form-textarea:-moz-read-only {
    color: rgba(61, 61, 61, 0.5);
    background-color: #f6f6f6;
}

.form-textarea:read-only {
    color: rgba(61, 61, 61, 0.5);
    background-color: #f6f6f6;
}

.form-box {
    padding: 24px 30px;
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #cbcbcb;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent rgba(171, 171, 171, 0.6);
}

.form-box textarea {
    font-size: 18px;
    color: #7c7c7c;
    word-break: break-all;
    word-wrap: break-word;
}

.form-textarea::-webkit-scrollbar {
    width: 6px;
}

.form-textarea::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.form-textarea::-webkit-scrollbar-thumb {
    background-color: rgba(171, 171, 171, 0.6);
    border-radius: 6px;
}

.form-textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/* search */
.form-control-icon {
    position: relative;
}

.form-control-icon .form-medium+.btn-icon {
    position: absolute;
    top: 19px;
    right: 18px;
    background-color: transparent;
}

.form-control-icon .form-small+.btn-icon {
    position: absolute;
    top: 14px;
    right: 18px;
    background-color: transparent;
}
.form-title+.checks-area {
    margin-top: 14px;
}

.checks.inline {
    display: inline-block;
    margin-right: 58px;
}

.checks .check[type="checkbox"] {
    display: none;
}

.checks input[type="checkbox"]+label::before,
.checks input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.checks input[type="checkbox"]+label::before {
    background: url("../images/ic-square-checkbox.svg") no-repeat center center / contain;
}

.checks.primary input[type="checkbox"]:checked+label::before {
    background: url("../images/ic-square-checkbox-primary.svg") no-repeat center center / contain;
}

.checks.black input[type="checkbox"]:checked+label::before {
    background: url("../images/ic-square-checkbox-black.svg") no-repeat center center / contain;
}

.checks input[type="checkbox"]:disabled+label::before {
    opacity: 0.3;
}

.checks input[type="checkbox"]:disabled+label span {
    opacity: 0.3;
}

.checks .check[type="radio"] {
    display: none;
}

.checks input[type="radio"]+label::before {
    background: url("../images/ic-radio.svg") no-repeat center center / contain;
}

.checks input[type="radio"]:checked+label::before {
    background: url("../images/ic-radio-on.svg") no-repeat center center / contain;
}

.checks input[type="radio"]:disabled+label::before {
    opacity: 0.3;
}

.checks input[type="radio"]:disabled+label span {
    opacity: 0.3;
}

.checks .label-check {
    position: relative;
    display: inline-block;
}

.checks .label-check span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 28px;
}

/*list-area*/
.list-box.both-type li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.list-box li {
    margin-bottom: 20px;
}

.list-box li:last-child {
    border-bottom: 0;
}

.list-box li > .title {
    flex-shrink: 0;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-600);
}

.list-box li > .content {
    font-size: 1.6rem;
    line-height: 22px;
}
.list-box li > .content > strong {
    font-family: "Pretendard Bold";
}
.list-box li:last-child {
    margin-bottom: 0;
}

/* badge */
.badge {
    display: inline-block;
    border-radius: 4px;
    line-height: 22px;
    font-size: 1.2rem;
    padding: 0 8px;
    background: var(--white-color);
}
.badge-green {
    border: 1px solid var(--green-color);
    color: var(--green-color);
}
.badge-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* scroll-box */
.scroll-box {
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent rgba(61, 61, 61, 0.5);
}

.scroll-box::-webkit-scrollbar {
    width: 6px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 61, 0.5);
    border-radius: 6px;
}

.scroll-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/* popup-section */
.popup-section {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

.popup-section .popup-container {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    z-index: 1000;
    width: 100%;
    max-width: 292px;
    background: var(--white-color);
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent rgba(61, 61, 61, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 32px 26px;
}

.popup-section .popup-container .title {
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    line-height: 22px;
    color: var(--black-color);
}
.popup-section .popup-container .popup-body {
    margin-top: 8px;
}
.popup-section .popup-container .popup-footer {
    display: flex;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: -8px;
}
.popup-section .popup-container .text {
    font-size: 1.4rem;
    color: var(--gray-color-600);
    line-height: 20px;
}

.popup-section .popup-container .text-box {
    text-align: center;
}

.popup-section .popup-container .text-box .title {
    margin-bottom: 14px;
}

/*main-popup-section*/
.main-popup-section {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.main-popup-section .main-popup-container {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    z-index: 99;
    background: var(--white-color);
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent rgba(61, 61, 61, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 24px;
}
.main-popup-section .main-popup-container .main-popup-body {
    width: 320px;
}
.main-popup-section .main-popup-footer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.main-popup-section .main-popup-banner-area {
    position: relative;
}

.main-popup-section .main-popup-banner-area .swiper {
    padding-bottom: 24px;
}
.main-popup-section .main-popup-banner-area.swiper-banner .swiper-pagination {
    margin-top: 24px;
}
.main-popup-section .main-popup-banner-area .main-popup-banner {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}
.main-popup-section .main-popup-banner-area .main-popup-banner::after {
    content: "";
    display: block;
    padding-bottom: 108.4375%;
}

.main-popup-section .main-popup-banner-area .main-popup-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*loading*/
.loading {
    width: 56px;
    height: 56px;
    border: 8px solid var(--primary-color);
    border-right-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: spinner 1s linear infinite;
    top: 50%;
    margin: 0 auto 16px;
}
.loading::before {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    right: -1px;
}
.loading::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 33px;
}

@keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*swiper*/
.grid-thumb-list-items .grid-swiper-button-next,
.grid-thumb-list-items .grid-swiper-button-prev,
.swiper-banner .swiper-button-next,
.swiper-banner .swiper-button-prev,
.thumb-list-items .swiper-button-next,
.thumb-list-items .swiper-button-prev {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--border-primary);
}

.swiper-banner .swiper-button-next {
    right: 3px;
}
.grid-thumb-list-items .grid-swiper-button-next,
.grid-thumb-list-items .grid-swiper-button-prev {
    top: 59.5%;
}
.grid-thumb-list-items .grid-swiper-button-next {
    right: -16px;
}
.grid-thumb-list-items .grid-swiper-button-prev {
    left: -16px;
}
.swiper-banner .swiper-button-next,
.swiper-banner .swiper-button-prev,
.thumb-list-items .swiper-button-next,
.thumb-list-items .swiper-button-prev {
    top: 46%;
}
.grid-thumb-list-items .grid-swiper-button-prev:after,
.swiper-banner .swiper-button-prev:after,
.thumb-list-items .swiper-button-prev:after {
    content: '';
    background: url("../images/ic-swiper-arrow.svg") no-repeat center center / contain;
    width: 22px;
    height: 22px;
    transform: rotate(180deg);
}
.grid-thumb-list-items .grid-swiper-button-next:after,
.swiper-banner .swiper-button-next:after,
.thumb-list-items .swiper-button-next:after {
    content: '';
    background: url("../images/ic-swiper-arrow.svg") no-repeat center center / contain;
    width: 22px;
    height: 22px;
}
@media (hover: none), (pointer: coarse), (hover: none) and (pointer: coarse), (hover: none) and (pointer: fine) {
    .grid-thumb-list-items .grid-swiper-button-next,
    .grid-thumb-list-items .grid-swiper-button-prev,
    .swiper-banner .swiper-button-next,
    .swiper-banner .swiper-button-prev,
    .thumb-list-items .swiper-button-next,
    .thumb-list-items .swiper-button-prev {
        display: none;
    }
}

/*info-text-box*/
.bg-info-text-box {
    padding: 24px;
    background-color: var(--blue-grey-50);
    border-radius: 8px;
}

.info-text-items .info-text-item {
    position: relative;
    font-size: 1.2rem;
    line-height: 16px;
    margin-bottom: 8px;
    padding-left: 10px;
    color: var(--gray-color-600);
}
.info-text-items .info-text-item::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: var(--gray-color-600);
    width: 2px;
    height: 2px;
    border-radius: 10px;
}
.info-text-items .info-text-item:last-child {
    margin-bottom: 0;
}

/*goods-list-group*/
.goods-list-group::after {
    content: '';
    border-bottom: 1px solid var(--border-primary);
    display: block;
    margin: 4px 0;
}
.goods-list-group .goods-list-header {
    padding-top: 24px;
    padding-bottom: 32px;
}
.goods-list-group .goods-list-header .goods-list-title {
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    line-height: 22px;
}
.goods-list-group+.goods-list-group::after {
    content: '';
    display: none;
}
.goods-list-group .goods-list-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 32px;
}
.goods-list-group+.goods-list-group .goods-list-item:last-child {
    padding-bottom: 0;
}
.goods-list-group .goods-list-item .goods-list-left {
    position: relative;
    display: flex;
    align-items: center;
}
.goods-list-group .goods-list-item .goods-list-left .checks {
    align-self: flex-start;
    margin-right: 32px;
}
.goods-list-group .goods-info-box {
    margin-left: 32px;
    margin-right: 32px;
}
.goods-list-group .goods-list-item .book-thumb-area,
.goods-list-group .goods-list-item .goods-thumb-area .goods-thumb {
    margin-bottom: 0;
}
.goods-list-group .goods-info-box .badge-area {
    margin-bottom: 12px;
}
.goods-list-group .goods-info-box .goods-title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.goods-list-group .goods-info-text {
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-500);
    margin-bottom: 12px;
}
.goods-list-group .goods-info-text > .text {
    position: relative;
    padding-right: 8px;
    margin-right: 8px;
}
.goods-list-group .goods-info-text > .text:last-child::after {
    display: none;
}
.goods-list-group .goods-info-text > .text::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    height: 10px;
    width: 1px;
    background-color: var(--blue-grey-500);
}

@media screen and (max-width:767px) {
    .goods-list-group .book-thumb-area.small {
        width: 82px;
    }
    .goods-list-group .goods-thumb-area.small {
        width: 82px;
    }
    .goods-list-group .goods-info-box {
        margin-left: 16px;
    }
    .goods-list-group .goods-list-item {
        padding-top: 44px;
    }
    .goods-list-group .goods-list-item .goods-list-left .checks {
        position: absolute;
        top: -42px;
        left: 0;
    }
    .goods-list-group .goods-list-item .goods-list-left .badge-area {
        position: absolute;
        top: -44px;
        left: 32px;
    }
    .goods-list-group .goods-list-item .btn-delete-area {
        position: absolute;
        top: -0px;
        right: 0;
    }
}

.goods-price .discount {
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--primary-color);
    margin-right: 8px;
}

.goods-price .discount-price {
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--black-color);
    margin-right: 8px;
}

.goods-price .price {
    font-size: 1.4rem;
    line-height: 24px;
    text-decoration: line-through;
    color: var(--blue-grey-500);
}
