.container-inner {
    max-width: var(--max-width);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/*header*/
.header-section {
    position: fixed;
    top: 24px;
    left: 80px;
    right: 80px;
    height: 72px;
    max-width: 1206px;
    z-index: 998;
    margin: 0 auto;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.10);
    transition: var(--transition);
}

.header-section .header-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    background: var(--white-color);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    width: 100%;
}

.header-section .header .logo {
    width: 152px;
    height: 22px;
}

.header-section .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-section .header-left {
    display: flex;
    align-items: center;
    padding: 24px 36px;
}

.header-section .header-left nav {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header-section .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 24px;
}
.header-section .btn-cart {
    position: relative;
}
.header-section .btn-cart .badge-count {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 13px;
    padding: 0 4px;
    font-family: "Pretendard SemiBold";
    font-size: 0.8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--white-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .btn-app-down {
    background-color: var(--black-color);
    flex-shrink: 0;
    padding: 0 24px;
    line-height: 72px;
    display: inline-block;
    border-radius: 0 8px 8px 0;
}

.header-section .btn-app-down .text {
    font-family: "Pretendard Bold";
    font-size: 1.4rem;
    background: linear-gradient(90deg, #6C53FF 0%, #32A4F6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-section .header .nav-btn-items {
    margin-left: 4px;
}

.header-section .header .nav-btn-items .nav-btn-item {
    display: inline-block;
    margin-left: 20px;
}

.header-section .header .nav-btn-items .nav-btn-item > a {
    font-family: "Pretendard SemiBold";
    font-size: 16px;
    line-height: 22px;
}
.header-section .header .icon-search {
    display: inline-block;
    background: url("../images/ic-search-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}

.header-section .header .icon-cart {
    display: inline-block;
    background: url("../images/ic-cart-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}

.header-section .header .icon-mypage {
    display: inline-block;
    background: url("../images/ic-mypage-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}
.header-section.fixed,
.header-section.sub-header-section {
    top: 0;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.02);
    transition: var(--transition);
}

.header-section.fixed .btn-app-down,
.header-section.fixed .header-group,
.header-section.sub-header-section .btn-app-down,
.header-section.sub-header-section .header-group {
    border-radius: 0;
}

.header-section .header-left .mo-nav-btns {
    display: none;
}
@media screen and (max-width:927px) {
    .header-section {
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        max-width: 100%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    }
    .header-section .header .logo {
        width: 124px;
        height: 20px;
    }

    .header-section .header-group {
        border-radius: 0;
    }

    .header-section .header-left {
        padding: 16px 20px 16px 20px;
        padding: 16px 20px 16px calc(constant(safe-area-inset-left) + 20px);
        padding: 16px 20px 16px calc(env(safe-area-inset-left) + 20px);
    }

    .header-section .header-right {
        gap: 12px;
        padding: 16px 20px 16px 20px;
        padding: 16px calc(constant(safe-area-inset-right) + 20px) 16px 20px;
        padding: 16px calc(env(safe-area-inset-right) + 20px) 16px 20px;
    }
    .header-section .btn-cart .badge-count {
        top: -3px;
        right: -3px;
    }
    .header-section .header .icon-cart,
    .header-section .header .icon-mypage,
    .header-section .header .icon-search {
        width: 24px;
        height: 24px;
    }
    .header-section .header-left .mo-nav-btns {
        display: block;
        margin-right: 12px;
    }
    .header-section .btn-app-down,
    .header-section .header-left .pc-nav-btns {
        display: none;
    }
}

/*main-wrap*/
.main-wrap .event-column-content {
    clear: both;
    overflow: hidden;
}

.main-wrap .main-event-group {
    margin-right: 56px;
    width: 360px;
    float: left;
}

.main-wrap .main-ebook-group {
    position: relative;
    float: right;
    width: calc(100% - 421px);
}
.main-wrap .main-contents-wrap {
    padding: 52px 0 68px;
    padding: 52px calc(constant(safe-area-inset-right) + 0px) 68px calc(constant(safe-area-inset-left) + 0px);
    padding: 52px calc(env(safe-area-inset-right) + 0px) 68px calc(env(safe-area-inset-left) + 0px);
}

.sub-contents-wrap {
    padding: 112px 20px 72px;
    padding: 112px calc(constant(safe-area-inset-right) + 20px) 104px calc(constant(safe-area-inset-left) + 20px);
    padding: 112px calc(env(safe-area-inset-right) + 20px) 104px calc(env(safe-area-inset-left) + 20px);
    margin: 0 auto;
    min-height: calc(-72px + 100vh);
    max-width: var(--max-width);
}
@media screen and (max-width:767px) {
    .main-wrap .main-contents-wrap {
        padding-top: 42px;
        padding-bottom: 52px;
    }
    .main-wrap .main-event-group {
        margin-right: 0;
        width: 100%;
        float: initial;
        padding-bottom: 28px;
    }

    .main-wrap .main-ebook-group {
        float: initial;
        width: 100%;
        padding-top: 28px;
    }
    .sub-contents-wrap {
        padding-top: 96px;
        padding-bottom: 80px;
        min-height: calc(-58px + 100vh);
    }
}

/*main-visual-banner*/
.btn-search {
    max-width: var(--max-width);
    margin: 0 auto;
}

.main-visual-banner-section {
    max-width: var(--max-width);
    margin: 0 auto;
}

.main-visual-banner-section .main-visual-banner {
    position: relative;
    height: 544px;
}
.main-visual-banner-section .main-visual-banner::after {
    content: "";
    display: block;
    padding-bottom: 39.8243045%;
}

.main-visual-banner-section .main-visual-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.main-visual-banner-section .swiper-button-next:after {
    content: '';
    background: url("../images/ic-arrow-indicator.svg") no-repeat center center /contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-button-prev {
    left: -72px;
}

.main-visual-banner-section .swiper-button-prev:after {
    content: '';
    background: url("../images/ic-arrow-indicator.svg") no-repeat center center /contain;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-slide {
    position: relative;
}

.main-visual-banner-section .swiper-control-area {
    position: absolute;
    left: 472px;
    bottom: 76px;
    left: calc(constant(safe-area-inset-left) + 472px);
    left: calc(env(safe-area-inset-left) + 472px);
}

.main-visual-banner-section .swiper-control-area .btn-area .btn-pause {
    position: absolute;
    top: -12px;
    right: -17px;
    z-index: 10;
    display: inline-block;
    background: url("../images/ic-pause-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-control-area .btn-area .btn-pause.on {
    position: absolute;
    top: -12px;
    right: -17px;
    z-index: 10;
    display: inline-block;
    background: url("../images/ic-player-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .indi-progress {
    position: absolute;
    left: 80px;
    left: calc(constant(safe-area-inset-left) + 80px);
    left: calc(env(safe-area-inset-left) + 80px);
    bottom: 75px;
    z-index: 10;
    height: 1px;
    width: 300px;
}

.main-visual-banner-section .indi-progress .autoplay-progress {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-visual-banner-section .indi-progress .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    stroke-width: 0.4px;
    stroke: #fff;
    fill: none;
    stroke-dashoffset: calc(100 * (1 - var(--progress)));
    stroke-dasharray: 100;
}

.main-visual-banner-section .main-visual-banner-text-box {
    position: absolute;
    left: 80px;
    left: calc(constant(safe-area-inset-left) + 80px);
    left: calc(env(safe-area-inset-left) + 80px);
    bottom: 135px;
    width: 368px;
    z-index: 10;
}

.main-visual-banner-section .main-visual-banner-title {
    font-family: "Pretendard SemiBold";
    font-size: 3.6rem;
    color: var(--white-color);
    line-height: 50px;
}

.main-visual-banner-section .main-visual-banner-text {
    margin-top: 12px;
    font-size: 2rem;
    line-height: 28px;
    color: var(--white-color);
    opacity: 0.6;
}

.main-visual-banner-section .pc-main-banner {
    display: block;
}

.main-visual-banner-section .m-main-banner {
    display: none;
}

@media screen and (max-width:767px) {
    .main-visual-banner-section {
        margin-top: 56px;
    }

    .main-visual-banner-section .main-visual-banner {
        position: relative;
        height: 480px;
    }

    .main-visual-banner-section .main-visual-banner-text-box {
        max-width: 245px;
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        bottom: 64px;
    }
    .main-visual-banner-section .main-visual-banner-title {
        font-size: 2.4rem;
        line-height: 34px;
    }
    .main-visual-banner-section .main-visual-banner-text {
        margin-top: 8px;
        font-size: 1.6rem;
        line-height: 22px;
    }
    .main-visual-banner-section .swiper-control-area {
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        right: 20px;
        right: calc(constant(safe-area-inset-right) + 20px);
        right: calc(env(safe-area-inset-right) + 20px);
        bottom: 12px;
    }
    .main-visual-banner-section .indi-progress {
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        right: 170px;
        right: calc(constant(safe-area-inset-right) + 170px);
        right: calc(env(safe-area-inset-right) + 170px);
        bottom: 32px;
        width: auto;
    }
    .main-visual-banner-section .swiper-control-area .btn-area {
        position: absolute;
        top: -20px;
        left: auto;
        left: calc(constant(safe-area-inset-left) + auto);
        left: calc(env(safe-area-inset-left) + auto);
        right: 54px;
        right: calc(constant(safe-area-inset-right) + 54px);
        right: calc(env(safe-area-inset-right) + 54px);
    }
    .main-visual-banner-section .pc-main-banner {
        display: none;
    }

    .main-visual-banner-section .m-main-banner {
        display: block;
    }
}

/*btns-swiper-group*/
.btns-swiper-group {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 8px;
    background: var(--blue-grey-50);
    overflow: hidden;
}
.btns-swiper-group .swiper-slide {
    width: auto;
}
.btns-swiper-group .swiper-slide:first-child a {
    margin-left: 8px;
}
.btns-swiper-group .swiper-slide a {
    margin-right: 8px;
    display: block;
}
/* .btns-swiper-group .swiper-slide.on a .btn-swiper-tab{    
    border-radius: 8px;
    background: var(--black-color);
    color: var(--white-color); 
} */

@media screen and (max-width:767px) {
    .btns-swiper-group {
        width: 100%;
    }
    .btns-swiper-group::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        z-index: 2;
        right: 0;
        background-image: linear-gradient(270deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0));
    }
}

/*search-layer-section*/
.search-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    z-index: 555;
    margin: 0 auto;
    background-color: var(--white-color);

}

.search-section .search-bar {
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid var(--border-primary);
    padding-left: 36px;
    padding-right: 36px;
}

.search-section .search-bar .input-box {
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 20px;
}

.search-section .search-bar .input-box::placeholder {
    color: var(--blue-grey-400);
    font-family: Pretendard;
    font-size: 2rem;
    line-height: 20px;
}

.search-section .keyword-area {
    padding: 42px 36px 56px;
}

.search-section .search-list-area {
    display: inline-block;
    padding: 0 36px;
}

.search-section .search-layer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.search-section .search-layer-title {
    font-family: "Pretendard SemiBold";
    font-size: 2rem;
    line-height: 20px;
    color: var(--blue-grey-600);

}

.search-section .searching-area {
    display: flex;
    align-items: flex-start;
    padding: 0 88px;
}

.search-section .searching-area .searching-box {
    margin-top: 40px;
    margin-right: 28px;
}

.search-section .search-list-items {
    width: 408px;
    display: inline-block;
    margin-right: 52px;
}

.search-section .search-list-item {
    margin: 12px 0;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.search-section .search-list-item > a {
    font-size: 1.6rem;
    line-height: 24px;
}

.search-section .search-list-item > a > .num {
    color: var(--primary-color);
    margin-right: 8px;
}

.search-section .search-list-item > a > .writer {
    position: relative;
    color: var(--blue-grey-500);
    padding-right: 9px;
    margin-right: 8px;
}

.search-section .search-list-item > a > .writer::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: var(--blue-grey-500);
}

/*main-menu-layer-group*/
.main-menu-layer-group {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.40);
    height: 100vh;
    transition: var(--transition);
}

.main-menu-layer-group .main-menu-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    z-index: 555;
    margin: 0 auto;
    background-color: var(--white-color);
}

.main-menu-layer-group .main-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 24px 36px;
}
.main-menu-layer-group .menu-body {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 219px);
    padding: 16px 36px;
}
.main-menu-layer-group .menu-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    padding: 36px 36px 40px;
    background-color: var(--white-color);
    margin: 0 auto;
}
.main-menu-layer-group .menu-footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 36px;
    right: 36px;
    height: 1px;
    background-color: var(--border-primary);
}
.main-menu-layer-group .menu-footer.line::before {
    left: 0;
    right: 0;
}
.main-menu-layer-group .main-menu-title {
    font-family: "Pretendard SemiBold";
    font-size: 2.2rem;
    line-height: 20px;
}

.main-menu-layer-group .main-menu-title.icon-category {
    position: relative;
    padding-left: 28px;
}

.main-menu-layer-group .main-menu-title.icon-category::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -4px;
    display: inline-block;
    background: url("../images/ic-menu-24.svg") no-repeat center center / contain;
    width: 24px;
    height: 24px;
}

.main-menu-layer-group .menu-link-group {
    padding-bottom: 32px;
    margin-bottom: 36px;
    margin-top: 20px;
    border-bottom: 1px solid var(--border-primary);
}
.main-menu-layer-group .menu-link-group:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.main-menu-layer-group .menu-link-lists {
    display: flex;
}

.main-menu-layer-group .menu-link-lists .menu-link-list {
    width: 200px;
}

.menu-event-banner {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    height: 62px;
    width: 100%;
    background: url("../images/img-menu-banner-dummy-02.png") no-repeat center center / cover;
}

.main-menu-layer-group .menu-thumb-banner-area {
    width: 170px;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner::after {
    content: "";
    display: block;
    padding-bottom: 143.529412%;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:767px) {
    .main-menu-layer-group {
        display: none;
        transition: var(--transition);
    }
}
/*mo-main-menu*/
.mo-menu-layer-group {
    display: none;
    transition: var(--transition);
}
@media screen and (max-width:927px) {
    .mo-header-left,
    .mo-header-right {
        position: absolute;
        top: 16px;
    }

    .mo-header-left {
        left: 20px;
    }

    .mo-header-right {
        right: 20px;
    }

    .mo-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        padding: 16px 20px;
        right: calc(constant(safe-area-inset-right) + 0px);
        right: calc(env(safe-area-inset-right) + 0px);
        left: calc(constant(safe-area-inset-left) + 0px);
        left: calc(env(safe-area-inset-left) + 0px);
    }

    .mo-header .mo-header-title {
        font-family: "Pretendard SemiBold";
        font-size: 2rem;
        line-height: 24px;
        text-align: center;
        margin: 0 24px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .mo-menu-layer-group {
        display: block;
        transition: var(--transition);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: var(--max-width);
        z-index: 555;
        background-color: var(--white-color);
        padding-bottom: 40px;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
    }
    .mo-menu-layer-group .mo-main-menu-layer {
        padding-right: 0;
        padding-right: calc(constant(safe-area-inset-right) + 0px);
        padding-right: calc(env(safe-area-inset-right) + 0px);
        padding-left: 0;
        padding-left: calc(constant(safe-area-inset-left) + 0px);
        padding-left: calc(env(safe-area-inset-left) + 0px);
    }

    .mo-menu-layer-group.depth2-type .mo-menu-body {
        height: calc(100vh - 190px);
        overflow: hidden;
        overflow-y: auto;
    }
    .mo-menu-layer-group .mo-main-menu-layer .menu-link-item.icon-more {
        position: relative;

    }
    .mo-menu-layer-group .mo-main-menu-layer .menu-link-item.icon-more::after {
        content: '';
        position: absolute;
        right: 0;
        top: 4px;
        display: inline-block;
        background: url("../images/ic-arrow-right-16.svg") no-repeat center center / contain;
        width: 16px;
        height: 16px;
    }
    .mo-menu-layer-group .mo-menu-link-group {
        padding: 0 0 32px;
        margin-bottom: 32px;
        margin-top: 20px;
        border-bottom: 1px solid var(--border-primary);
    }

    .mo-menu-layer-group .mo-menu-link-group:last-child {
        border-bottom: 0;
        margin-bottom: 68px;
        margin-bottom: calc(constant(safe-area-inset-bottom) + 68px);
        margin-bottom: calc(env(safe-area-inset-bottom) + 68px);
    }

    .mo-menu-layer-group .menu-link-title {
        font-family: "Pretendard SemiBold";
        font-size: 2rem;
        line-height: 20px;
        margin-bottom: 16px;
    }

    .mo-menu-layer-group .mo-menu-banner {
        display: inline-block;
        border-radius: 8px;
        overflow: hidden;
        height: 102px;
        width: 100%;
        background: url("../images/img-m-menu-banner-dummy-01.png") no-repeat center center / cover;
    }

    .mo-menu-layer-group .mo-menu-body {
        margin-top: 56px;
        margin-bottom: 100px;
        height: calc(100vh - 156px);
        padding: 0 20px;
        overflow: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .mo-menu-layer-group .mo-menu-footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white-color);
        padding: 20px 20px 18px;
        padding: 20px 20px calc(constant(safe-area-inset-bottom) + 18px);
        padding: 20px 20px calc(env(safe-area-inset-bottom) + 18px);
        right: calc(constant(safe-area-inset-right) + 0px);
        right: calc(env(safe-area-inset-right) + 0px);
        left: calc(constant(safe-area-inset-left) + 0px);
        left: calc(env(safe-area-inset-left) + 0px);
    }

    .mo-menu-layer-group .mo-menu-footer.line {
        border-top: 1px solid var(--border-primary);
    }
}

/*menu-link-lists*/
.menu-link-title {
    font-family: "Pretendard SemiBold";
    font-size: 2.0rem;
    line-height: 24px;
    margin-bottom: 16px;
}
.menu-link-lists .menu-link-list .menu-link-item {
    margin-bottom: 20px;
}
.menu-link-lists .menu-link-list .menu-link-item:last-child {
    margin-bottom: 0;
}

.menu-link-lists .menu-link-list .menu-link-item > a {
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--blue-grey-600);
}
.menu-link-lists .menu-link-list .menu-link-item.on > a {
    font-family: "Pretendard Bold";
    color: var(--primary-color);
}

/*main-event-banner-area*/
.main-event-banner-area {
    position: relative;
    margin-top: 32px;
    margin-left: -20px;
    margin-right: -20px;
}
.main-event-banner-area .main-event-banner {
    margin: 0 20px;
}

.main-event-banner-area .main-event-banner {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.main-event-banner-area .main-event-banner .badge-area {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.main-event-banner-area .main-event-banner .badge-day {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 22px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: var(--black-color);
}

.main-event-banner-area .main-event-banner::after {
    content: "";
    display: block;
    padding-bottom: 66.6666667%;
}

.main-event-banner-area .main-event-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*swiper-banner*/

.swiper-banner .swiper-pagination {
    position: relative;
    bottom: auto;
    top: auto;
    margin-top: 16px;
}
.swiper-banner .swiper-pagination-bullet {
    margin-left: 6px !important;
    margin-right: 6px !important;
    width: 5px;
    height: 5px;
}

.swiper-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/*banner-board-swiper-group*/
.banner-board-swiper-group {
    margin: 0 -20px;
}
.banner-board-swiper-group .banner-board-swiper-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    height: 120px;
    margin: 0 20px;
}
.banner-board-swiper-group .banner-board-swiper-img::after {
    content: "";
    display: block;
    padding-bottom: 34.2857143%;
}

.banner-board-swiper-group .banner-board-swiper-img img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*banner-board-group*/
.banner-board-group {
    display: flex;
    gap: 20px;
}
.banner-board-group .banner-board-large {
    position: relative;
    display: block;
    height: 120px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.banner-board-group .banner-board-large::after {
    content: "";
    display: block;
    padding-bottom: 9.04977376%;
}

.banner-board-group .banner-board-large img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*thumb-list-items*/
.thumb-list-items {
    margin-left: -20px;
    margin-right: -20px;
}

.thumb-list-items .swiper-slide {
    width: 160px;
    margin-right: 28px;
}
.thumb-list-items .swiper-slide:first-child {
    margin-left: 20px;
}
.thumb-list-items .swiper-slide:last-child {
    margin-right: 20px;
}
.thumb-list-items .thumb-item {
    position: relative;
    display: inline-block;
    margin-top: 32px;
}
@media screen and (max-width:767px) {
    .thumb-list-items .swiper-slide {
        width: 126px;
    }
    .thumb-list-items .thumb-item {
        width: 126px;
    }
}
.thumb-list-items .thumb-item-text-area {
    height: 60px;
}

.thumb-list-items .thumb-item-title {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.thumb-list-items .thumb-item-sub-text {
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-500);
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.thumb-list-items .swiper-wrapper {
    align-items: flex-end;
}

.thumb-item-title+.thumb-item-sub-text {
    margin-top: 8px;
}

.thumb-item-sub-text+.thumb-item-title {
    margin-top: 8px;
}

/*grid-thumb-list-items */
.grid-thumb-list-items {
    margin-top: 22px;
    margin-right: -20px;
}

.grid-thumb-list-items .swiper-wrapper {
    height: 277px;
}
.grid-thumb-list-items .swiper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.grid-thumb-list-items .swiper-slide {
    width: auto;
}
.grid-thumb-list-items .thumb-item {
    display: flex;
    align-items: center;
    margin-right: 26px;
    margin-top: 8px;
}

.grid-thumb-list-items .thumb-item .book-thumb-area {
    width: 80px;
    flex-shrink: 0;
    margin-bottom: 0;
}

.grid-thumb-list-items .thumb-item-text-area {
    flex-shrink: 0;
    width: 101px;
    margin-left: 16px;
}

.grid-thumb-list-items .thumb-item-title {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.grid-thumb-list-items .thumb-item-sub-text {
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-500);
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.grid-thumb-list-items .book-thumb {
    height: 106px;
}

/* book-thumb-area */
.book-thumb-area {
    position: relative;
    margin-bottom: 24px;
}

.book-thumb-area::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url("../images/img-bookcover.png") repeat left top /contain;
    width: 100%;
    height: 100%;
}

.book-thumb-area.badge-special::before {
    content: '';
    position: absolute;
    right: 2px;
    top: -12px;
    display: block;
    background: url("../images/ic-special.png") no-repeat center center /contain;
    width: 46px;
    height: 46px;
    z-index: 1;
}

.book-thumb-area {
    width: 160px;
}
.book-thumb-area.small {
    width: 104px;
}

.book-thumb {
    position: relative;
    border-radius: 2px 8px 8px 2px;
    height: auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.12));
}
@media screen and (max-width:767px) {
    .book-thumb-area {
        width: 124px;
    }
    .book-thumb-area.small {
        width: 82px;
    }
}
.goods-thumb-area {
    position: relative;
}
.goods-thumb-area.badge-free::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 8px;
    display: block;
    background: url("../images/ic-free.png") no-repeat center center /contain;
    width: 48px;
    height: 32px;
    z-index: 1;
}
.goods-thumb-area .goods-thumb {
    border-radius: 8px;
    background: var(--color-Secondary-White, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin-bottom: 24px;
}
.goods-thumb-area .goods-thumb {
    width: 160px;
    height: 212px;
}
.goods-thumb-area.small .goods-thumb {
    width: 104px;
    height: 138px;
}
@media screen and (max-width:767px) {
    .goods-thumb-area .goods-thumb {
        width: 126px;
        height: 168px;
    }

    .goods-thumb-area.small .goods-thumb {
        width: 82px;
        height: 106px;
    }
}

.book-area {
    position: relative;
}
.book-area.badge-special::before {
    content: '';
    position: absolute;
    right: 2px;
    top: -8px;
    display: block;
    background: url("../images/ic-special.png") no-repeat center center /contain;
    width: 32px;
    height: 32px;
    z-index: 2;
}
.book-area::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url("../images/img-bookcover.png") repeat left top / contain;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.book-area .book {
    position: relative;
    display: inline-block;
    width: 87px;
    height: 106px;

}
.book-area .book .book-img {
    position: absolute;
    border-radius: 2px 4px 4px 2px;
    overflow: hidden;
    width: 80px;
    height: 106px;
    z-index: 1;
    left: 2px;
}
.book-area .book .book-img img {
    width: 100%;
    height: auto;
    vertical-align: top;
}
.book-area .bg-book {
    position: absolute;
    left: 0;
    top: 4px;
    width: 90px;
    height: 97px;
    background: url("../images/img-book-middle.png") repeat-y center center /contain;
}
.book-area .book::before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 90px;
    height: 11px;
    display: inline-block;
    background: url("../images/img-book-top.png") no-repeat center center /contain;
}
.book-area .book::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 90px;
    height: 11px;
    display: inline-block;
    background: url("../images/img-book-bottom.png") no-repeat center center /contain;
}

/*footer-section*/
.footer-section {
    max-width: var(--max-width);
    background-color: #EEEEEF;
    padding: 56px 20px 64px;
    margin: 0 auto;
    padding: 40px calc(constant(safe-area-inset-right) + 20px) calc(constant(safe-area-inset-bottom) + 48px) calc(constant(safe-area-inset-left) + 20px);
    padding: 40px calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 48px) calc(env(safe-area-inset-left) + 20px);
    margin-bottom: calc(constant(safe-area-inset-bottom) + 0px);
    margin-bottom: calc(env(safe-area-inset-bottom) + 0px);
}
.footer-section .logo {
    display: inline-block;
    width: 152px;
    height: 22px;
    margin-bottom: 32px;
}

.footer-section .copyright-text {
    color: var(--gray-color-600);
    font-size: 1.4rem;
    line-height: 22px;
    margin-bottom: 10px;
}

.footer-section .copyright-text > li {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 16px;
}

.footer-section .copyright-text > li a {
    color: var(--gray-color-600);
}

.footer-section .copyright-text > li:first-child {
    padding-left: 0;
}

.footer-section .copyright-text > li::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    background-color: var(--gray-color-600);
    height: 12px;
    width: 1px;
}

.footer-section .copyright-text > li:last-child::after {
    display: none;
}

@media screen and (max-width:767px) {
    .footer-section {
        padding: 40px calc(constant(safe-area-inset-right) + 0px) calc(constant(safe-area-inset-bottom) + 48px) calc(constant(safe-area-inset-left) + 0px);
        padding: 40px calc(env(safe-area-inset-right) + 0px) calc(env(safe-area-inset-bottom) + 48px) calc(env(safe-area-inset-left) + 0px);
    }
    .footer-section .logo {
        width: 124px;
        height: 18px;
        margin-bottom: 24px;
    }
    .footer-section .copyright-text {
        margin-bottom: 0;
    }
}

/*구매하기*/
.payment-wrap .payment-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.payment-wrap .payment-header .payment-header-title {
    position: relative;
    font-family: "Pretendard Bold";
    font-size: 2.4rem;
    line-height: 34px;
}
.payment-wrap .payment-header .sub-text {
    font-family: "Pretendard";
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-600);
}
.payment-wrap .payment-header .amount {
    font-family: "Pretendard Bold";
    color: var(--black-color);
}
.payment-wrap .payment-header .payment-header-left {
    display: flex;
    align-items: center;
    gap: 4px;
}
.payment-wrap .payment-header .info-popup-group {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    display: block;
    z-index: 55;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}
.payment-wrap .payment-header .info-popup-group .info-text-items {
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 20px;
    overflow: hidden;
}
.payment-wrap .payment-header .info-popup-group::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 78px;
    display: inline-block;
    background: url("../images/img-polygon.svg") no-repeat center center/ contain;
    width: 16px;
    height: 12px;
}
.payment-wrap .payment-header .payment-process {
    display: flex;
    align-items: center;
}
.payment-wrap .payment-header .payment-process .payment-process-item {
    position: relative;
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-400);
    padding-left: 24px;
    padding-right: 32px;
}
.payment-wrap .payment-header .payment-process .payment-process-item.on {
    color: var(--black-color);
}
.payment-wrap .payment-header .payment-process .payment-process-item:last-child {
    padding-right: 0;
}
.payment-wrap .payment-header .payment-process .payment-process-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    right: 8px;
    width: 16px;
    height: 16px;
    background: url("../images/ic-process-arrow.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item:last-child:after {
    display: none;
}
.payment-wrap .payment-header .payment-process .payment-process-item::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
}
.payment-wrap .payment-header .payment-process .payment-process-item:nth-child(1)::before {
    background: url("../images/ic-process-cart.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item:nth-child(2)::before {
    background: url("../images/ic-process-card.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item:nth-child(3)::before {
    background: url("../images/ic-process-order.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item.on:nth-child(1)::before {
    background: url("../images/ic-process-cart-on.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item.on:nth-child(2)::before {
    background: url("../images/ic-process-card-on.svg");
}
.payment-wrap .payment-header .payment-process .payment-process-item.on:nth-child(3)::before {
    background: url("../images/ic-process-order-on.svg");
}

.payment-wrap .payment-option-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--black-color);
}
.payment-wrap .payment-info-group {
    text-align: center;
}
.payment-wrap .payment-info-group .img-box {
    display: inline-block;
    width: 170px;
}
.payment-wrap .payment-info-group .text-box {
    margin-top: 8px;
}
.payment-wrap .payment-info-group .payment-title {
    font-family: "Pretendard Bold";
    font-size: 2rem;
    line-height: 24px;
}
.payment-wrap .payment-info-group .payment-small-title {
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    line-height: 20px;
}
.payment-wrap .payment-info-group .payment-text {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-500);
}
.payment-wrap .payment-info-group .btn-area {
    margin-top: 36px;
}
.payment-wrap .payment-info-group .btns-area {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
}
.payment-wrap .payment-completed-group {
    max-width: 484px;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--blue-grey-50);
    margin: 56px auto 0;
}
.payment-wrap .payment-accordion-group summary::marker {
    font-size: 0;
}
.payment-wrap .payment-accordion-group summary::-webkit-details-marker {
    display: none;
}
.payment-wrap .payment-accordion-group summary {
    list-style-type: none;
}
.payment-wrap .payment-accordion-group .payment-accordion-header {
    list-style: none;
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-primary);
    padding-top: 16px;
    padding-bottom: 16px;
}
.payment-wrap .payment-accordion-group .payment-accordion-header:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    display: inline-block;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 0.3s cubic-bezier(0,.21,.03,1.01);
    background: url("../images/ic-accordion-arrow.svg") no-repeat center center / contain;
    width: 24px;
    height: 24px;
}
.payment-wrap .payment-accordion-group[open] .payment-accordion-header {
    border-bottom: 2px solid var(--black-color);
}
.payment-wrap .payment-accordion-group[open] .payment-accordion-header:after {
    transition: all 0.3s cubic-bezier(0,.21,.03,1.01);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.payment-wrap .payment-accordion-group .payment-accordion-title {
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    line-height: 24px;
}
.payment-wrap .payment-accordion-group .payment-accordion-content {
    font-size: 1.4rem;
    line-height: 20px;
    margin-right: 40px;
}
.payment-wrap .payment-accordion-group .payment-accordion-body {
    margin: 24px 0 72px;
}
.payment-wrap .payment-accordion-group .paymentr-info-box {
    margin-top: 12px;
}
.payment-wrap .payment-accordion-group .paymentr-info-box > li {
    display: flex;
    margin-bottom: 4px;
}
.payment-wrap .payment-accordion-group .paymentr-info-box > li:last-child {
    display: flex;
    margin-bottom: 0;
}
.payment-wrap .payment-accordion-group .paymentr-info-box .title {
    position: relative;
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--blue-grey-500);
    width: 154px;
    padding-left: 12px;
    flex-shrink: 0;
}
.payment-wrap .payment-accordion-group .paymentr-info-box .title::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 4px;
    background-color: var(--gray-color-600);
    width: 2px;
    height: 2px;
    border-radius: 10px;
}
.payment-wrap .payment-accordion-group .paymentr-info-box .content {
    font-size: 1.4rem;
    line-height: 24px;
}
.payment-wrap .payment-accordion-group .goods-list-group:first-child .goods-list-header {
    padding-top: 0;
}
.payment-wrap .payment-accordion-group .discount-coupon-box {
    display: flex;
    align-items: center;
}
.payment-wrap .payment-accordion-group .discount-coupon-left {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.payment-wrap .payment-accordion-group .discount-coupon-title {
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    line-height: 22px;
    margin-right: 99px;
}
.payment-wrap .payment-accordion-group .discount-coupon-total {
    font-size: 1.4rem;
    line-height: 20px;
}
.payment-wrap .payment-accordion-group .discount-coupon-right {
    width: 320px;
    margin-left: 40px;
}
.payment-wrap .payment-accordion-group .checks-group {
    padding-bottom: 24px;
}
.payment-wrap .agree-checks-group {
    margin-top: 56px;
}
.payment-wrap .payment-section {
    margin-top: 8px;
}
.payment-wrap .payment-accordion-group .agree-checks-group.agree-check span {
    color: var(--black-color);
    font-size: 1.2rem;
    line-height: 18px;
}
.payment-wrap .agree-checks-group .info-text-items {
    margin-top: 16px;
    margin-left: 36px;
}

.payment-wrap .cart-empty-section {
    margin-top: 300px;
    padding-bottom:282px;
}

.payment-wrap .payment-completed-section {
    margin-top: 185px;
    padding-bottom: 63px;
}
.payment-wrap .payment-completed-section .payment-info-group .text-box {
    margin-top: 24px;
}
@media screen and (max-width:767px) {
    .payment-wrap .payment-header .payment-process,
    .payment-wrap .payment-info-box {
        display: none;
    }
    .payment-wrap .payment-info-group .img-box {
        width: 128px;
    }
    .payment-wrap .payment-header .payment-header-title {
        font-family: "Pretendard Bold";
        font-size: 2rem;
        line-height: 24px;
    }
    .payment-wrap .payment-completed-group {
        max-width: 100%;
        margin-top: 36px;
        padding: 24px 20px;
    }
    .payment-wrap .payment-info-group .payment-title {
        font-family: "Pretendard Bold";
        font-size: 1.6rem;
        line-height: 24px;
    }
    .payment-wrap .payment-info-group .payment-text {
        margin-top: 12px;
    }
    .payment-wrap .payment-info-group .btns-area {
        display: grid;
        justify-content: normal;
        margin-top: 32px;
        gap: 0;
    }
    .payment-wrap .payment-info-group .btns-area .btn:nth-child(1) {
        order: 2;
                margin-top: 16px;
    }
    .payment-wrap .payment-info-group .btns-area .btn:nth-child(2) {
        order: 1;
    }
    .payment-wrap .payment-info-group .btns-area .btn {
        width: 100%;
    }
    .payment-wrap .payment-info-group .list-box li > .content {
        font-size: 1.4rem;
    }
    .payment-wrap .payment-accordion-group .goods-list-group .goods-list-item .goods-list-left .badge-area {
        left: 0;
    }
    .payment-wrap .payment-accordion-group .payment-accordion-body {
        margin-bottom: 56px;
    }
    .payment-wrap .payment-accordion-group .discount-coupon-box {
        display: block;
    }
    .payment-wrap .payment-accordion-group .discount-coupon-right {
        width: 100%;
        margin-left: 0;
        margin-top: 24px;
    }
    .payment-wrap .payment-accordion-group .discount-coupon-left {
        width: 100%;
    }
    .payment-wrap .payment-accordion-group .checks-group .inline {
        display: block;
        margin-bottom: 24px;
    }
    .payment-wrap .payment-accordion-group .checks-group .inline:last-child {
        margin-bottom: 0;
    }

    .payment-wrap .cart-empty-section {
        margin-top: 64px;
        padding-bottom:25px;
    }
    .payment-wrap .payment-completed-section {
        margin-top: 44px;
        padding-bottom: 32px;
    }
    .payment-wrap .payment-completed-section .payment-info-group .text-box {
        margin-top: 8px;
    }
}

/*bottom-sheet-popup*/
.bottom-sheet-popup {
    position: fixed;
    left: 0;
    left: calc(constant(safe-area-inset-left));
    left: calc(env(safe-area-inset-left));
    right: 0;
    right: calc(constant(safe-area-inset-right));
    right: calc(env(safe-area-inset-right));
    bottom: 0;
    margin: 0 auto;
    max-width: var(--max-width);
    min-width: 280px;
    max-height: 900px;
    z-index: 990;
    border-radius: 28px 28px 0 0;
    background: var(--white-color);
    box-shadow: 0 -2px 30px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0,.21,.03,1.01);
    padding: 12px 20px 32px 0;
    padding: 12px 20px calc(constant(safe-area-inset-bottom) + 32px);
    padding: 12px 20px calc(env(safe-area-inset-bottom) + 32px);
}
.bottom-sheet-popup .handler-area {
    display: block;
    width: 100%;
    text-align: center;
}
.bottom-sheet-popup .handler-area .handler-bar {
    width: 56px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-grey-200);
}

.bottom-sheet-popup.handler {
    padding: 12px 20px 158px 0;
    padding: 12px 20px calc(constant(safe-area-inset-bottom) + 158px);
    padding: 12px 20px calc(env(safe-area-inset-bottom) + 158px);
}
.bottom-sheet-popup .bottom-sheet-footer {
    position: fixed;
    left: calc(constant(safe-area-inset-left));
    left: calc(env(safe-area-inset-left));
    right: 0;
    right: calc(constant(safe-area-inset-right));
    right: calc(env(safe-area-inset-right));
    bottom: 0;
    background-color: var(--white-color);
    padding: 0 20px 32px 0;
    padding: 0 20px calc(constant(safe-area-inset-bottom) + 32px);
    padding: 0 20px calc(env(safe-area-inset-bottom) + 32px);
    margin: 0 auto;
    max-width: var(--max-width);
    min-width: 280px;
}
.bottom-sheet-popup.handler .bottom-sheet-body {
    padding-left: 12px;
    padding-right: 12px;
}

.bottom-sheet-popup.handler .total-price-group {
    padding-top: 0;
}
@media screen and (max-width:767px) {
    .bottom-sheet-popup.handler .bottom-sheet-body,
    .bottom-sheet-popup.total-price-group {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.price-info-list-group {
    margin-bottom: 4px;
    max-height: 278px;
    overflow-y: auto;
}
.price-info-list-group .price-info-list-header {
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-primary);
}
.price-info-list-group .price-info-list-title {
    font-family: "Pretendard SemiBold";
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-700);
}
.price-info-list-group .price-info-list {
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-primary);
}
.price-info-list-group .price-info-list .price-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.price-info-list-group .price-info-list .price-info-title {
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-500);
}
.price-info-list-group .price-info-list .price-info-content {
    font-size: 1.4rem;
    line-height: 20px;
}

.total-price-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
}
.total-price-group .total-price-title {
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    line-height: 24px;
}
.total-price-group .total-price-conent {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Pretendard Bold";
    font-size: 1.6rem;
    line-height: 24px;

}
.total-price-group .total-price-conent .price {
    font-family: "Pretendard";
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--blue-grey-500);
    text-decoration: line-through;
}
@media screen and (max-width:767px) {
    .total-price-group {
        padding-left: 8px;
        padding-right: 8px;
    }
}
