.container-inner {
    max-width: var(--max-width);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/*header*/
.header-section {
    position: fixed;
    top: 24px;
    left: 80px;
    right: 80px;
    height: 72px;
    max-width: 1206px;
    z-index: 998;
    margin: 0 auto;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.10);
    transition: var(--transition);
}

.header-section .header-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    background: var(--white-color);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    width: 100%;
}

.header-section .header .logo {
    width: 152px;
    height: 22px;
}

.header-section .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-section .header-left {
    display: flex;
    align-items: center;
    padding: 24px 36px;
}

.header-section .header-left nav {
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header-section .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 24px;
}
.header-section .btn-cart {
    position: relative;
}
.header-section .btn-cart .badge-count {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 13px;
    padding: 0 4px;
    font-family: "Pretendard SemiBold";
    font-size: 0.8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--white-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .btn-app-down {
    background-color: var(--black-color);
    flex-shrink: 0;
    padding: 0 24px;
    line-height: 72px;
    display: inline-block;
    border-radius: 0 8px 8px 0;
}

.header-section .btn-app-down .text {
    font-family: "Pretendard Bold";
    font-size: 1.4rem;
    background: linear-gradient(90deg, #6C53FF 0%, #32A4F6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-section .header .nav-btn-items {
    margin-left: 4px;
}

.header-section .header .nav-btn-items .nav-btn-item {
    display: inline-block;
    margin-left: 20px;
}

.header-section .header .nav-btn-items .nav-btn-item > a {
    font-family: "Pretendard SemiBold";
    font-size: 16px;
    line-height: 22px;
}
.header-section .header .icon-search {
    display: inline-block;
    background: url("../images/ic-search-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}

.header-section .header .icon-cart {
    display: inline-block;
    background: url("../images/ic-cart-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}

.header-section .header .icon-mypage {
    display: inline-block;
    background: url("../images/ic-mypage-24.svg") no-repeat center center/ contain;
    width: 32px;
    height: 32px;
}
.header-section.fixed {
    top: 0;
    left: 0;
    right: 0;
    max-width: var(--max-width);
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.04);
    transition: var(--transition);
}

.header-section.fixed .btn-app-down,
.header-section.fixed .header-group {
    border-radius: 0;
}

.header-section .header-left .mo-nav-btns {
    display: none;
}
@media screen and (max-width:927px) {
    .header-section {
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        max-width: 100%;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
    }
    .header-section .header .logo {
        width: 124px;
        height: 20px;
    }

    .header-section .header-group {
        border-radius: 0;
    }

    .header-section .header-left {
        padding: 16px 20px 16px 20px;
        padding: 16px 20px 16px calc(constant(safe-area-inset-left) + 20px);
        padding: 16px 20px 16px calc(env(safe-area-inset-left) + 20px);
    }

    .header-section .header-right {
        gap: 12px;
        padding: 16px 20px 16px 20px;
        padding: 16px calc(constant(safe-area-inset-right) + 20px) 16px 20px;
        padding: 16px calc(env(safe-area-inset-right) + 20px) 16px 20px;
    }
    .header-section .btn-cart .badge-count {
        top: -3px;
        right: -3px;
    }
    .header-section .header .icon-cart,
    .header-section .header .icon-mypage,
    .header-section .header .icon-search {
        width: 24px;
        height: 24px;
    }
    .header-section .header-left .mo-nav-btns {
        display: block;
        margin-right: 12px;
    }
    .header-section .btn-app-down,
    .header-section .header-left .pc-nav-btns {
        display: none;
    }
}

/*main-wrap*/
.main-wrap .event-column-content {
    clear: both;
    overflow: hidden;
}

.main-wrap .main-event-group {
    margin-right: 56px;
    width: 360px;
    float: left;
}

.main-wrap .main-ebook-group {
    float: right;
    width: calc(100% - 421px);
}

@media screen and (max-width:767px) {
    .main-wrap .main-event-group {
        margin-right: 0;
        width: 100%;
        float: initial;
        padding-bottom: 28px;
    }

    .main-wrap .main-ebook-group {
        float: initial;
        width: 100%;
        padding-top: 28px;
    }
}

/*main-visual-banner*/
.btn-search {
    max-width: var(--max-width);
    margin: 0 auto;
}

.main-visual-banner-section {
    max-width: var(--max-width);
    margin: 0 auto;
}

.main-visual-banner-section .main-visual-banner {
    position: relative;
    height: 544px;
}

.main-visual-banner-section .main-visual-banner::after {
    content: "";
    display: block;
    padding-bottom: 39.8243045%;
}

.main-visual-banner-section .main-visual-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.main-visual-banner-section .swiper-button-next:after {
    content: '';
    background: url("../images/ic-arrow-indicator.svg") no-repeat center center /contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-button-prev {
    left: -72px;
}

.main-visual-banner-section .swiper-button-prev:after {
    content: '';
    background: url("../images/ic-arrow-indicator.svg") no-repeat center center /contain;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-slide {
    position: relative;
}

.main-visual-banner-section .swiper-control-area {
    position: absolute;
    left: 472px;
    bottom: 76px;
    left: calc(constant(safe-area-inset-left) + 472px);
    left: calc(env(safe-area-inset-left) + 472px);
}

.main-visual-banner-section .swiper-control-area .btn-area .btn-pause {
    position: absolute;
    top: -12px;
    right: -17px;
    z-index: 10;
    display: inline-block;
    background: url("../images/ic-pause-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .swiper-control-area .btn-area .btn-pause.on {
    position: absolute;
    top: -12px;
    right: -17px;
    z-index: 10;
    display: inline-block;
    background: url("../images/ic-player-24.svg") no-repeat center center/ contain;
    width: 24px;
    height: 24px;
}

.main-visual-banner-section .indi-progress {
    position: absolute;
    left: 80px;
    left: calc(constant(safe-area-inset-left) + 80px);
    left: calc(env(safe-area-inset-left) + 80px);
    bottom: 75px;
    z-index: 10;
    height: 1px;
    width: 300px;
}

.main-visual-banner-section .indi-progress .autoplay-progress {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-visual-banner-section .indi-progress .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    stroke-width: 0.4px;
    stroke: #fff;
    fill: none;
    stroke-dashoffset: calc(100 * (1 - var(--progress)));
    stroke-dasharray: 100;
}

.main-visual-banner-section .main-visual-banner-text-box {
    position: absolute;
    left: 80px;
    left: calc(constant(safe-area-inset-left) + 80px);
    left: calc(env(safe-area-inset-left) + 80px);
    bottom: 135px;
    width: 368px;
    z-index: 10;
}

.main-visual-banner-section .main-visual-banner-title {
    font-family: "Pretendard SemiBold";
    font-size: 3.6rem;
    color: var(--white-color);
    line-height: 50px;
}

.main-visual-banner-section .main-visual-banner-text {
    margin-top: 12px;
    font-size: 2rem;
    line-height: 28px;
    color: var(--white-color);
    opacity: 0.6;
}

.main-visual-banner-section .pc-main-banner {
    display: block;
}

.main-visual-banner-section .m-main-banner {
    display: none;
}

@media screen and (max-width:767px) {
    .main-visual-banner-section {
        margin-top: 56px;
    }

    .main-visual-banner-section .main-visual-banner {
        position: relative;
        height: 480px;
    }

    .main-visual-banner-section .main-visual-banner-text-box {
        max-width: 245px;
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        bottom: 64px;
    }
    .main-visual-banner-section .main-visual-banner-title {
        font-size: 2.4rem;
        line-height: 34px;
    }
    .main-visual-banner-section .main-visual-banner-text {
        margin-top: 8px;
        font-size: 1.6rem;
        line-height: 22px;
    }
    .main-visual-banner-section .swiper-control-area {
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        right: 20px;
        right: calc(constant(safe-area-inset-right) + 20px);
        right: calc(env(safe-area-inset-right) + 20px);
        bottom: 12px;
    }
    .main-visual-banner-section .indi-progress {
        left: 20px;
        left: calc(constant(safe-area-inset-left) + 20px);
        left: calc(env(safe-area-inset-left) + 20px);
        right: 170px;
        right: calc(constant(safe-area-inset-right) + 170px);
        right: calc(env(safe-area-inset-right) + 170px);
        bottom: 32px;
        width: auto;
    }
    .main-visual-banner-section .swiper-control-area .btn-area {
        position: absolute;
        top: -20px;
        left: auto;
        left: calc(constant(safe-area-inset-left) + auto);
        left: calc(env(safe-area-inset-left) + auto);
        right: 54px;
        right: calc(constant(safe-area-inset-right) + 54px);
        right: calc(env(safe-area-inset-right) + 54px);
    }
    .main-visual-banner-section .pc-main-banner {
        display: none;
    }

    .main-visual-banner-section .m-main-banner {
        display: block;
    }
}

/*btns-swiper-group*/
.btns-swiper-group {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    padding: 8px 0;
    border-radius: 8px;
    background: var(--blue-grey-50);
    overflow: hidden;
}
.btns-swiper-group .swiper-slide:first-child {
    margin-left: 8px;
}
.btns-swiper-group .swiper-slide {
    width: auto;
    margin-right: 8px;
}
@media screen and (max-width:767px) {
    .btns-swiper-group {
        width: 100%;
    }
    /* .btns-swiper-group::after,
    .btns-swiper-group::before {
        content: "";
        position: absolute;
        top: 0;
        width: 32px;
        height: 100%;
        z-index: 2;
    } */
    /* .btns-swiper-group::before {
        left: 0;
        background: linear-gradient(90deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 255, 0));
    }

    .btns-swiper-group::after {
        right: 0;
        background-image: linear-gradient(270deg, rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0));
    } */
}

/*search-layer-section*/
.search-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    z-index: 555;
    margin: 0 auto;
    background-color: var(--white-color);

}

.search-section .search-bar {
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid var(--border-primary);
    padding-left: 36px;
    padding-right: 36px;
}

.search-section .search-bar .input-box {
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 20px;
}

.search-section .search-bar .input-box::placeholder {
    color: var(--blue-grey-400);
    font-family: Pretendard;
    font-size: 2rem;
    line-height: 20px;
}

.search-section .keyword-area {
    padding: 42px 36px 56px;
}

.search-section .search-list-area {
    display: inline-block;
    padding: 0 36px;
}

.search-section .search-layer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.search-section .search-layer-title {
    font-family: "Pretendard SemiBold";
    font-size: 2rem;
    line-height: 20px;
    color: var(--blue-grey-600);

}

.search-section .searching-area {
    display: flex;
    align-items: flex-start;
    padding: 0 88px;
}

.search-section .searching-area .searching-box {
    margin-top: 40px;
    margin-right: 28px;
}

.search-section .search-list-items {
    width: 408px;
    display: inline-block;
    margin-right: 52px;
}

.search-section .search-list-item {
    margin: 12px 0;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.search-section .search-list-item > a {
    font-size: 1.6rem;
    line-height: 24px;
}

.search-section .search-list-item > a > .num {
    color: var(--primary-color);
    margin-right: 8px;
}

.search-section .search-list-item > a > .writer {
    position: relative;
    color: var(--blue-grey-500);
    padding-right: 9px;
    margin-right: 8px;
}

.search-section .search-list-item > a > .writer::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: var(--blue-grey-500);
}

/*main-menu-layer-group*/
.main-menu-layer-group {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.40);
    height: 100vh;
    transition: var(--transition);
}

.main-menu-layer-group .main-menu-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    z-index: 555;
    margin: 0 auto;
    background-color: var(--white-color);
}

.main-menu-layer-group .main-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 24px 36px;
}
.main-menu-layer-group .menu-body {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 219px);
    padding: 16px 36px;
}
.main-menu-layer-group .menu-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    padding: 36px 36px 40px;
    background-color: var(--white-color);
    margin: 0 auto;
}
.main-menu-layer-group .menu-footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 36px;
    right: 36px;
    height: 1px;
    background-color: var(--border-primary);
}
.main-menu-layer-group .menu-footer.line::before {
    left: 0;
    right: 0;
}
.main-menu-layer-group .main-menu-title {
    font-family: "Pretendard SemiBold";
    font-size: 2.2rem;
    line-height: 20px;
}

.main-menu-layer-group .main-menu-title.icon-category {
    position: relative;
    padding-left: 28px;
}

.main-menu-layer-group .main-menu-title.icon-category::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -4px;
    display: inline-block;
    background: url("../images/ic-menu-24.svg") no-repeat center center / contain;
    width: 24px;
    height: 24px;
}

.main-menu-layer-group .menu-link-group {
    padding-bottom: 32px;
    margin-bottom: 36px;
    margin-top: 20px;
    border-bottom: 1px solid var(--border-primary);
}
.main-menu-layer-group .menu-link-group:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.main-menu-layer-group .menu-link-lists {
    display: flex;
}

.main-menu-layer-group .menu-link-lists .menu-link-list {
    width: 200px;
}

.menu-event-banner {
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    height: 62px;
    width: 100%;
    background: url("../images/img-menu-banner-dummy-02.png") no-repeat center center / cover;
}

.main-menu-layer-group .menu-thumb-banner-area {
    width: 170px;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner::after {
    content: "";
    display: block;
    padding-bottom: 143.529412%;
}

.main-menu-layer-group .menu-thumb-banner-area > .img-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:767px) {
    .main-menu-layer-group {
        display: none;
        transition: var(--transition);
    }
}
/*mo-main-menu*/
.mo-menu-layer-group {
    display: none;
    transition: var(--transition);
}
@media screen and (max-width:927px) {
    .mo-header-left,
    .mo-header-right {
        position: absolute;
        top: 16px;
    }

    .mo-header-left {
        left: 20px;
    }

    .mo-header-right {
        right: 20px;
    }

    .mo-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        padding: 16px 20px;
        right: calc(constant(safe-area-inset-right) + 0px);
        right: calc(env(safe-area-inset-right) + 0px);
        left: calc(constant(safe-area-inset-left) + 0px);
        left: calc(env(safe-area-inset-left) + 0px);
    }

    .mo-header .mo-header-title {
        font-family: "Pretendard SemiBold";
        font-size: 2rem;
        line-height: 24px;
        text-align: center;
        margin: 0 24px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .mo-menu-layer-group {
        display: block;
        transition: var(--transition);
    }
    .mo-menu-layer-group .mo-main-menu-layer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: var(--max-width);
        z-index: 555;
        background-color: var(--white-color);
        padding-bottom:40px;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
        right: calc(constant(safe-area-inset-right) + 0px);
        right: calc(env(safe-area-inset-right) + 0px);
        left: calc(constant(safe-area-inset-left) + 0px);
        left: calc(env(safe-area-inset-left) + 0px);
        bottom: calc(constant(safe-area-inset-bottom) + 0px);
        bottom: calc(env(safe-area-inset-bottom) + 0px);
    }

    .mo-menu-layer-group.depth2-type .mo-menu-body {
        height: calc(100vh - 190px);
        overflow: hidden;
        overflow-y: auto;
    }

    .mo-menu-layer-group .mo-menu-link-group {
        padding: 0 0 32px;
        margin-bottom: 32px;
        margin-top: 20px;
        border-bottom: 1px solid var(--border-primary);
    }

    .mo-menu-layer-group .mo-menu-link-group:last-child {
        border-bottom: 0;
        margin-bottom: 68px;
        margin-bottom: calc(constant(safe-area-inset-bottom) + 68px);
        margin-bottom: calc(env(safe-area-inset-bottom) + 68px);
    }

    .mo-menu-layer-group .menu-link-title {
        font-family: "Pretendard SemiBold";
        font-size: 2rem;
        line-height: 20px;
        margin-bottom: 16px;
    }

    .mo-menu-layer-group .mo-menu-banner {
        display: inline-block;
        border-radius: 8px;
        overflow: hidden;
        height: 102px;
        width: 100%;
        background: url("../images/img-m-menu-banner-dummy-01.png") no-repeat center center / cover;
    }

    .mo-menu-layer-group .mo-menu-body {
        margin-top: 56px;
        margin-bottom: 100px;
        height: calc(100vh - 156px);
        padding: 0 20px;
        overflow: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .mo-menu-layer-group .mo-menu-footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white-color);
        padding: 20px 20px 18px;
        padding: 20px 20px calc(constant(safe-area-inset-bottom) + 18px);
        padding: 20px 20px calc(env(safe-area-inset-bottom) + 18px);
        right: calc(constant(safe-area-inset-right) + 0px);
        right: calc(env(safe-area-inset-right) + 0px);
        left: calc(constant(safe-area-inset-left) + 0px);
        left: calc(env(safe-area-inset-left) + 0px);
        bottom: calc(constant(safe-area-inset-bottom) + 0px);
        bottom: calc(env(safe-area-inset-bottom) + 0px);
    }

    .mo-menu-layer-group .mo-menu-footer.line {
        border-top: 1px solid var(--border-primary);
    }
}

/*menu-link-lists*/
.menu-link-title {
    font-family: "Pretendard SemiBold";
    font-size: 2.0rem;
    line-height: 24px;
    margin-bottom: 16px;
}
.menu-link-lists .menu-link-list .menu-link-item {
    margin-bottom: 20px;
}
.menu-link-lists .menu-link-list .menu-link-item:last-child {
    margin-bottom: 0;
}

.menu-link-lists .menu-link-list .menu-link-item > a {
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--blue-grey-600);
}
.menu-link-lists .menu-link-list .menu-link-item.on > a {
    font-family: "Pretendard Bold";
    color: var(--primary-color);
}

/*main-event-banner-area*/
.main-event-banner-area {
    position: relative;
    margin-top: 32px;
}

.main-event-banner-area .main-event-banner {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.main-event-banner-area .main-event-banner .badge-area {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}

.main-event-banner-area .main-event-banner .badge-day {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 22px;
    padding: 0 12px;
    border-radius: 4px;
    background-color: var(--black-color);
}

.main-event-banner-area .main-event-banner::after {
    content: "";
    display: block;
    padding-bottom: 66.6666667%;
}

.main-event-banner-area .main-event-banner img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*swiper-banner*/

.swiper-banner .swiper-pagination {
    position: relative;
    bottom: auto;
    top: auto;
    margin-top: 16px;
}
.swiper-banner .swiper-pagination-bullet {
    margin-left: 6px !important;
    margin-right: 6px !important;
    width: 5px;
    height: 5px;
}

.swiper-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/*banner-board-swiper-group*/
.banner-board-swiper-group .banner-board-swiper-img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    height: 120px;
}
.banner-board-swiper-group .banner-board-swiper-img::after {
    content: "";
    display: block;
    padding-bottom: 34.2857143%;
}

.banner-board-swiper-group .banner-board-swiper-img img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*banner-board-group*/
.banner-board-group {
    display: flex;
    gap: 20px;
}
.banner-board-group .banner-board-large {
    position: relative;
    display: block;
    height: 120px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.banner-board-group .banner-board-large::after {
    content: "";
    display: block;
    padding-bottom: 9.04977376%;
}

.banner-board-group .banner-board-large img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
}

/*thumb-list-items*/
.thumb-list-items {
    margin-left: -20px;
    margin-right: -20px;
}

.thumb-list-items .swiper-slide {
    width: 160px;
    margin-right: 16px;
}
.thumb-list-items .swiper-slide:first-child {
    margin-left: 20px;
}
.thumb-list-items .swiper-slide:last-child {
    margin-right: 20px;
}
.thumb-list-items .thumb-item {
    position: relative;
    display: inline-block;
    margin-top: 32px;
}
@media screen and (max-width:767px) {
    .thumb-list-items .swiper-slide {
        width: 126px;
    }
    .thumb-list-items .thumb-item {
        width: 126px;
    }
}
.thumb-list-items .thumb-item-text-area {
    height: 60px;
}

.thumb-list-items .thumb-item-title {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.thumb-list-items .thumb-item-sub-text {
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-500);
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.thumb-list-items .swiper-wrapper {
    align-items: flex-end;
}

.thumb-item-title+.thumb-item-sub-text {
    margin-top: 8px;
}

.thumb-item-sub-text+.thumb-item-title {
    margin-top: 8px;
}

/*grid-thumb-list-items */
.grid-thumb-list-items {
    margin-top: 18px;
    margin-right: -20px;
}

.grid-thumb-list-items .swiper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.grid-thumb-list-items .swiper-slide {
    width: auto;
}

.grid-thumb-list-items .swiper-wrapper {
    height: 277px;
}
.grid-thumb-list-items .thumb-item {
    display: flex;
    align-items: center;
    margin-right: 36px;
}

.grid-thumb-list-items .thumb-item .book-thumb-area {
    width: 80px;
    flex-shrink: 0;
    margin-bottom: 0;
}

.grid-thumb-list-items .thumb-item-text-area {
    flex-shrink: 0;
    width: 158px;
    margin-left: 16px;
}

.grid-thumb-list-items .thumb-item .book-thumb-area.badge-special::before {
    width: 34px;
    top: -11px;
}

.grid-thumb-list-items .thumb-item-title {
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 400;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.grid-thumb-list-items .thumb-item-sub-text {
    font-size: 1.2rem;
    line-height: 14px;
    color: var(--blue-grey-500);
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}

.grid-thumb-list-items .book-thumb {
    height: 106px;
}
@media screen and (max-width:767px) {
    .grid-thumb-list-items {
        margin-left: -20px;
        margin-right: -20px;
    }
    .grid-thumb-list-items .swiper {
        padding-left: 20px;
    }
}

.book-thumb-area {
    position: relative;
    margin-top: 8px;
    margin-bottom: 24px;
}

.book-thumb-area::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url("../images/img-bookcover.png") repeat left top /contain;
    width: 100%;
    height: 100%;
}

.book-thumb-area.badge-special::before {
    content: '';
    position: absolute;
    right: 2px;
    top: -7px;
    display: block;
    background: url("../images/ic-special.png") no-repeat center center /contain;
    width: 46px;
    height: 46px;
    z-index: 1;
}

.book-thumb {
    position: relative;
    border-radius: 2px 8px 8px 2px;
    height: auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.12));
}

.goods-thumb-area {
    position: relative;
}
.goods-thumb-area.badge-free::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 8px;
    display: block;
    background: url("../images/ic-free.png") no-repeat center center /contain;
    width: 48px;
    height: 32px;
    z-index: 1;
}
.goods-thumb-area .goods-thumb {
    border-radius: 8px;
    background: var(--color-Secondary-White, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin-bottom: 24px;
}

.btn-more {
    display: flex;
    align-items: center;
    font-family: "Pretendard SemiBold";
    color: var(--blue-grey-500);
    font-size: 1.4rem;
    text-decoration: none;
}

/*footer-section*/
.footer-section {
    max-width: var(--max-width);
    background-color: #EEEEEF;
    padding: 56px 20px 64px;
    margin: 68px auto 0;
    padding: 40px calc(constant(safe-area-inset-right) + 20px) calc(constant(safe-area-inset-bottom) + 48px) calc(constant(safe-area-inset-left) + 20px);
    padding: 40px calc(env(safe-area-inset-right) + 20px) calc(env(safe-area-inset-bottom) + 48px) calc(env(safe-area-inset-left) + 20px);
    margin-bottom: calc(constant(safe-area-inset-bottom) + 0px);
    margin-bottom: calc(env(safe-area-inset-bottom) + 0px);
}
.footer-section .logo {
    display: inline-block;
    width: 152px;
    height: 22px;
    margin-bottom: 32px;
}

.footer-section .copyright-text {
    color: var(--gray-color-600);
    font-size: 1.4rem;
    line-height: 22px;
    margin-bottom: 10px;
}

.footer-section .copyright-text > li {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    margin-right: 16px;
}

.footer-section .copyright-text > li a {
    color: var(--gray-color-600);
}

.footer-section .copyright-text > li:first-child {
    padding-left: 0;
}

.footer-section .copyright-text > li::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    background-color: var(--gray-color-600);
    height: 12px;
    width: 1px;
}

.footer-section .copyright-text > li:last-child::after {
    display: none;
}

@media screen and (max-width:767px) and (orientation: landscape) {
    .footer-section {
        margin-top: 52px;
        padding: 40px calc(constant(safe-area-inset-right) + 0px) calc(constant(safe-area-inset-bottom) + 48px) calc(constant(safe-area-inset-left) + 0px);
        padding: 40px calc(env(safe-area-inset-right) + 0px) calc(env(safe-area-inset-bottom) + 48px) calc(env(safe-area-inset-left) + 0px);
    }
    .footer-section .logo {
        width: 124px;
        height: 18px;
        margin-bottom: 24px;
    }
    .footer-section .copyright-text {
        margin-bottom: 0;
    }
}
