
.promotion-content-section {
    padding: 120px 0;
    overflow: hidden;
}
.promotion-container-inner {
    position: relative;
    max-width: 1042px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}
.promotion-header-section {
    position: relative;
    background: url("../images/bg-main-promotion-pc.png") no-repeat bottom center / cover;
    width: 100%;
    height: 942px;
    padding-top: 128px;
    text-align: center;
}
.promotion-header-section .promotion-header-inner {
    max-width: 1200px;
    margin: 0 auto;
}
.promotion-header-section .promotion-main-title {
    position: relative;
    z-index: 2;
    max-width: 834px;
    text-align: center;
    margin: 0 auto -48px;
}
.promotion-header-section .block-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #FEC300;
    width: 100%;
    height: 48px;
}
.promotion-header-section .block-logo .link > .logo {
    width: 393px;
    margin:12px auto;
}
@media screen and (max-width:767px) {
    .promotion-content-section {
        padding: 80px 0;
        overflow: hidden;
    }
    .promotion-header-section .block-logo {
        height: 36px;
    }
    .promotion-header-section .block-logo .link > .logo {
        width: 276px;
        margin: 7px auto;
    }
    .promotion-container-inner {
        width: 320px;
        padding: 0 20px;
        overflow: visible;
    }
    .promotion-header-section {
        background: url("../images/bg-main-promotion-mo.png") no-repeat top center / cover;
        padding-top: 84px;
        height: 472px;
    }

    .promotion-header-section .promotion-main-title {
        width: 243px;
        margin: 0 auto 9px;
    }
    .promotion-header-section .img-box{
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 320px;
        margin: 0 auto -14px;
    }
}

.event-first-section {
    position: relative;
    padding: 160px 0 80px;
    background-color: #FFF1CD; 
    overflow: hidden;
}
.event-first-section::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: url("../images/img-frist-02-pc.png") no-repeat center center / contain;
    width: 1116px;
    height: 273px;
}
.event-first-section .promotion-header {
    max-width: 554px;
    margin: 0 auto;
}
@media screen and (max-width:767px) {
    .event-first-section {
        padding: 72px 0 40px;
    }
    .event-first-section::before {
        top: -6px;
        width: 426px;
        height: 104px;
    }
    .event-first-section .promotion-main-title {
        max-width: 275px;
    }
}
.event-second-section {
    position: relative;
    background-color: #FDFAF5;
}
.event-second-section .promotion-header {
    max-width: 469px;
    margin: 0 auto 56px;
}
.event-second-section .img-box{
    max-width: 768px;
    margin: 0 auto 32px;
}
.event-second-section .info-box{
    max-width: 274px;
    margin: 0 auto ;
}
@media screen and (max-width:767px) {
    .event-second-section .promotion-header {
        max-width: 226px;
        margin: 0 auto 40px;
    }
    .event-second-section .img-box{
        max-width: 280px;
    }
    .event-second-section .info-box{
        max-width: 231px;
    }
}

.event-third-section {
    text-align: center;
    background-color: var(--white-color);
}
.event-third-section .promotion-header {
    max-width: 469px;
    margin: 0 auto 56px;
}
.event-third-section .img-box{
    max-width: 929px;
    margin: 0 auto 56px;
}
.event-third-section .info-box{
    max-width: 349px;
    margin: 0 auto ;
}
@media screen and (max-width:767px) {
    .event-third-section .promotion-header {
        max-width: 226px;
        margin: 0 auto 24px;
    }
    .event-third-section .img-box{
        max-width: 301px;
        margin: 0 auto 32px;
    }
    .event-third-section .info-box{
        max-width: 146px;
    }
}
.event-forth-section {
    text-align: center;
    background-color:#FFF1CD;
    background: url("../images/bg-forth-pc.png") no-repeat center center / cover;
}
.event-forth-section .promotion-header {
    max-width: 469px;
    margin: 0 auto 56px;
}
.event-forth-section .img-box{
    max-width: 728px;
    margin: 0 auto 64px;
}
.event-forth-section .img-coupon-box{
    position: relative;
    max-width: 716px;
    margin: 0 auto 32px;
}

.event-forth-section .info-box{
    max-width: 193px;
    margin: 0 auto ;
}
.event-forth-section .rolling-number{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 42px;
    color: #000;
    text-align: center;
    font-family: "Pretendard ExtraBold";
    font-size: 80px;
    line-height: 140%; /* 112px */
    letter-spacing: -2px;
}
@media screen and (max-width:767px) {
    .event-forth-section {
        background: url("../images/bg-forth-mo.png") no-repeat center center / cover;
    }
    .event-forth-section .promotion-header {
        max-width: 256px;
        margin: 0 auto 40px;
    }
    .event-forth-section .img-box{
        max-width: 272px;
        margin: 0 auto 56px;
    }
    .event-forth-section .img-coupon-box{
        max-width: 280px;
    }
    
    .event-forth-section .info-box{
        max-width: 161px;
    }
    .event-forth-section .rolling-number{
        bottom: 32px;
        font-size: 32px;
        letter-spacing: -0.782px;
    }
}

.event-fifth-section{
    background-color: #1C1A14;
}
.event-fifth-section .promotion-header {
    max-width: 493px;
    margin: 0 auto 56px;
}
.event-fifth-section .img-box{
    max-width: 728px;
    margin: 0 auto 24px;
}
.event-fifth-section .img-box:last-child{
    margin: 0 auto 0px;
}
.event-fifth-section .img-purchase-box{
    max-width: 716px;
    margin: 0 auto 32px;
}
.event-fifth-section .info-box{
    max-width: 337px;
    margin: 0 auto ;
}
.event-fifth-section .purchase-info-box{
    background-color:#EFEBFF;
    padding: 24px 40px;
}
.event-fifth-section .purchase-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-fifth-section .purchase-info-header .title{   
    font-family: "Pretendard Regular";
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    color: var(--black-color);
}
.event-fifth-section .purchase-info-header .title strong{
   font-family: "Pretendard ExtraBold";
}
.event-fifth-section .purchase-info-header .title strong.primary{
    color: #7157D8;
}
.event-fifth-section .purchase-info-body{
margin-top: 24px;
}
.event-fifth-section .purchase-info-bod.flex{
    display: flex;
    align-items: center;
    gap: 8px;
}
.event-fifth-section .purchase-info-body .info{
    position: relative;
    color: rgba(0, 0, 0, 0.50);
    font-size: 1.4rem;
    padding-left: 14px;
}

.event-fifth-section .purchase-info-body .info::before {
    content: '*';
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 2px;
}
.event-fifth-section .purchase-info-body .btn-more-black{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.80);
    font-size: 1.4rem;    
    font-weight: 500;
}
.event-fifth-section .purchase-info-body .btn-more-black::after{
    content: '';
    display: inline-block;
    background: url("../images/ico-arrow-right-01.svg") no-repeat center center / contain;
    width: 20px;
    height: 20px;
} 
.event-fifth-section .purchase-info-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}
.event-fifth-section .purchase-info-box .btn-more-primary{
    display: flex;
    align-items: center;
    color: #4E32F6;
    font-size: 1.4rem;    
    font-weight: 500;
}
.event-fifth-section .purchase-info-box .btn-more-primary::after{
    content: '';
    display: inline-block;
    background: url("../images/ico-arrow-right-02.svg") no-repeat center center / contain;
    width: 20px;
    height: 20px;
}
.event-fifth-section .purchase-info-box .info-text{
    font-family: Pretendard;
    font-size: 1.4rem; 
    color: var(--blue-grey-500);
    margin-top: 12px;
}
.event-fifth-section .purchase-info-box .purchase-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    height: 66px;
}
.event-fifth-section .purchase-info-box .purchase-info .name{
    width: 126px;
    color: #191F28;
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    flex-shrink: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    padding-right: 24px;
}
.event-fifth-section .purchase-info-box .purchase-info .info-box{
    width: 192px;
    flex-shrink: 0;
    padding: 0 24px;
    border-left: 1px solid #D1D6DB; 
border-right: 1px solid #D1D6DB; 
}
.event-fifth-section .purchase-info-box .purchase-info strong{
    font-family: "Pretendard SemiBold";
}
.event-fifth-section .purchase-info-box .purchase-info.full{
    width: 100%;
    display: flex;
    align-items: center;
} 
.event-fifth-section .purchase-info-box .purchase-info.full .info-box{
    width: 100%;
    border-left:0px; 
    border-right: 0px; 
    margin: 0;
    padding: 0;

}
.event-fifth-section .purchase-info-box .purchase-info .info-box .title{
    font-size: 1.6rem;
    line-height: 24px;
    color: #191F28;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
}
.event-fifth-section .purchase-info-box .purchase-info .info-box .date{
    font-family: "Pretendard Light";
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: -0.36px;
    color: #B0B8C1;
}
.event-fifth-section .purchase-info-box .purchase-info .status{
    width: 80px;
    font-family: "Pretendard SemiBold";
    font-size: 1.6rem;
    color: #B3B3B3;
    flex-shrink: 0;
    padding-left: 24px;
}
.event-fifth-section .purchase-info-box .purchase-info .status.red{
    color: #FF2C52;
}
.event-fifth-section .purchase-info-box .purchase-info .status.primary{
    color: #7157D8;
}
.event-fifth-section .purchase-info-box .btn-purchase{
    font-family: "Pretendard Bold";
    font-size: 1.8rem;
    color: #fff;
    flex-shrink: 0  ;
    width: 189px;
height: 66px;
background-color: #000;
border-radius: 8px;
}
.event-fifth-section .purchase-info-box:last-child{
    margin-bottom:24px;
    padding-bottom: 40px;
    border-radius:0 0 20px 20px ;
}

@media screen and (max-width:767px) {
    .event-fifth-section .promotion-header {
        max-width: 278px;
    } 
    .event-fifth-section .img-box{
        width: 307.987px;
    }
    .event-fifth-section .img-box.last{
        width: 280px;
    }
    .event-fifth-section .purchase-info-header .title{
        font-size: 1.6rem;
    }
    .event-fifth-section .purchase-info-box{
        padding: 12px 32px;
    }
    .event-fifth-section .purchase-info-body {
        margin-top: 16px;
    }
    .event-fifth-section .purchase-info-body .info{
        font-size: 1.2rem;
    }
    .event-fifth-section .purchase-info-body{
        gap: 6px;
    }
    .event-fifth-section .purchase-info-body .btn-more-black{
        font-size: 1.2rem;
    }
    .event-fifth-section .purchase-info-body .btn-more-black::after{
        width: 16px;
        height: 16px;
    }
    .event-fifth-section .purchase-info-box .info-text{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .event-fifth-section .purchase-info-group{
        display: block;
    }
    .event-fifth-section .purchase-info-box .purchase-info{
        display: block;
        height: auto;
        padding: 20px 20px;
        margin-bottom: 8px;
    }
    .event-fifth-section .purchase-info-box .purchase-info .left{
       display: flex;
       align-items: center;
       gap: 8px;
       justify-content: space-between;
    }
    .event-fifth-section .purchase-info-box .purchase-info .info-box{
        border: 0px;
        margin-top: 8px;
        padding: 8px 0px 0px;
        border-top: 1px solid #D1D6DB;
        width: 100%;
    }
    .event-fifth-section .purchase-info-box .purchase-info .name{
        width: 100px;
        padding-right: 12px;
        font-size: 1.4rem;
    }
    .event-fifth-section .purchase-info-box .purchase-info .status{
        width: 66px;
        border-radius: 100px;
    font-family: "Pretendard SemiBold";
    font-size: 1.2rem;
    color: #B3B3B3;
    padding: 6px 10px;
    border: 1px solid var(--blue-grey-400);
    text-align: center;
    height: 28px;
    }
    .event-fifth-section .purchase-info-box .purchase-info .status.red{
        border-color: #FF2C52;
    }
    .event-fifth-section .purchase-info-box .purchase-info .status.primary{
        border-color: #7157D8;
    }
    .event-fifth-section .purchase-info-box .btn-purchase{
        font-size: 1.4rem;
        height: 48px;
        padding: 10px 0px;
        width: 100%;
    }
    .event-fifth-section .purchase-info-box .purchase-info.full .info-box{
        padding: 0px 0px 0px;
        border-top: 0px solid #D1D6DB;
    }
    .event-fifth-section .purchase-info-box .purchase-info .info-box .title{
        font-size: 1.4rem;
    }
    .event-fifth-section .purchase-info-box .purchase-info.full .info-box .title{
        -webkit-line-clamp: 2;
        margin-bottom: 8px;
    }
}
.event-sixth-section{
    background-color: #fff;
}
.event-sixth-section .promotion-header {
    max-width: 523px;
    margin: 0 auto 32px;
}
.event-sixth-section .info-box{
    max-width: 570px;
    margin: 0 auto ;
}
@media screen and (max-width:767px) {
    .event-sixth-section .promotion-header {
        max-width: 281px;
    } 
    .event-sixth-section .info-box{
        max-width: 261px;
    }
}
.book-list-content {
    padding: 56px 52px 0;
}
.book-list-content .thumb-grid-items.promotion {
    align-items: flex-end;
    grid-template-columns: repeat(5, auto);
    column-gap: 24px;
}
.book-list-content .thumb-grid-items.promotion .thumb-item {
    margin-top: 0;
}

.book-list-content .btn-promo-more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard SemiBold";
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--blue-grey-500);
    text-align: center;
}

.book-list-content .btn-promo-more > .icon-more {
    display: inline-block;
    background: url("../images/icon-more.svg") no-repeat center center / contain;
    width: 24px;
    height: 24px;
}
@media screen and (max-width: 1200px) {
    .book-list-content .thumb-grid-items.promotion {
        grid-template-columns: repeat(3, auto);
    }
}
@media screen and (max-width:767px) {
    .book-list-content {
        padding: 40px 0px 0;
    }
    .book-list-content .thumb-grid-items.promotion {
        align-items: flex-start;
        grid-template-columns: repeat(2, auto);
        column-gap: 4px;
        padding: 0;
    }
    .book-list-content .thumb-grid-items.promotion .thumb-item-text-area {
        height: 132px;
    }
    .book-list-content .btn-promo-more {
        font-size: 1.6rem;
    }
}



.event-terms-section {
    background-color: var(--white-color);
    padding: 60px 0;
    border-top: 1px solid #E5E8EB;
}
.event-notice-box .event-notice {
    max-width: 920px;
    margin: 0 auto;
}
.event-notice-box .event-notice summary::marker {
    font-size: 0;
}
.event-notice-box .event-notice summary::-webkit-details-marker {
    display: none;
}
.event-notice-box .event-notice summary {
    list-style-type: none;
}
.event-notice-box .event-notice-header {
    list-style: none;
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
}
.event-notice-box .event-notice-header::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/ico-info.svg") no-repeat center center / contain;
}
.event-notice-box .event-notice-header::after {
    content: "";
    display: inline-block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0,.21,.03,1.01);
    background: url("../images/ico-more.svg") no-repeat center center / contain;
    width: 32px;
    height: 32px;
}
.event-notice-box .event-notice[open] .event-notice-header:after {
    transition: all 0.3s cubic-bezier(0,.21,.03,1.01);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.event-notice-box .event-notice[open] {
    padding-bottom: 20px;
}
.event-notice-box .event-notice .event-notice-title {
    font-family: "Pretendard Bold";
    font-size: 2.2rem;
    line-height: 32px;
    color: var(--black-color);
    text-align: center;
}
.event-notice-box .event-notice .event-notice-body {
    display: block;
    padding: 32px 0 0;
}
.event-notice-box  .event-notice-body-title{
    font-family: "Pretendard Bold";
    font-size: 2rem;
    line-height: 32px;
    color: var(--blue-grey-700);
    margin-bottom: 24px;
}
.event-notice-box .event-notice-area {
    margin-bottom: 20px;
}
.event-notice-box .event-notice-area:last-child {
    margin-bottom: 0;
}
.event-notice-box .event-notice-area > .title {
    font-family: "Pretendard Bold";
    margin-bottom: 12px;
    color: var(--blue-grey-600);
    text-align: left;
    font-size: 1.8rem;
    line-height: 32px;
}
.event-notice-list-title {
    font-family: "Pretendard Bold";
    color: var(--blue-grey-600);
    text-align: left;
    font-size: 1.8rem;
    line-height: 32px;
}
.event-notice-box .event-notice-list {
    text-align: left;
}
.event-notice-box .event-notice-list + .event-notice-list {
    margin-top: 32px;
}
.event-notice-box .event-notice-list .event-notice-item {
    position: relative;
    font-family: "Pretendard Light";
    font-size: 1.8rem;
    line-height: 32px;
    padding-left: 20px;
    color: var(--blue-grey-600);
}
.event-notice-box .event-notice-list .event-notice-item::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 2px;
    display: block;
    width: 3px;
    height: 3px;
    background-color: var(--blue-grey-600);
    border-radius: 10px;
}
.event-notice-box .event-notice-list .event-notice-item.red {
    color: #FF2C52;
}

.event-notice-box .event-notice-list .event-notice-item.red::after {
    background-color: #FF2C52;
}
.event-notice-box .event-notice-list .event-notice-item.none {
    padding-left: 0;
}
.event-notice-box .event-notice-list .event-notice-item.none::after {
    display: none;
}
.event-notice-box .event-notice-list .event-notice-item .underline {
    text-decoration: underline;
}
@media screen and (max-width:767px) {
    .event-terms-section {
        padding: 40px 0;
    }
    .event-notice-box .event-notice-header::before {
        width: 20px;
        height: 20px;
    }
    .event-notice-box .event-notice-header::after {
        width: 18px;
        height: 18px;
    }
    .event-notice-box .event-notice[open] {
        padding-bottom: 40px;
    }
    .event-notice-box .event-notice .event-notice-body {
        padding: 28px 0 0;
    }
    .event-notice-box .event-notice .event-notice-title {
        font-size: 1.6rem;
        line-height: 20px;
        /* 125% */
    }
    .event-notice-box .event-notice-area > .title {
        font-size: 1.4rem;
        line-height: 22px;
    }
    .event-notice-list-title {
        font-size: 1.4rem;
        line-height: 22px;
    }
    .event-notice-box .event-notice-list .event-notice-item {
        font-size: 1.4rem;
        line-height: 22px;
        padding-left: 10px;
    }
    .event-notice-box .event-notice-list .event-notice-item::after {
        top: 9px;
        left: 0;
    }
}

.popup-section.promotion-terms .popup-container {
    position: relative;
    max-width: 480px;
    padding-bottom: 0;
}
.popup-section.promotion-terms .popup-container::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 20px;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}


.popup-section.promotion-terms .popup-container .popup-body{
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 400px;
    padding-right: 15px;
    margin-right: -20px;
    margin-top: 0;
    padding-bottom: 24px;
}
.popup-section.promotion-terms .popup-container .popup-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.popup-section.promotion-terms .popup-container .popup-body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.popup-section.promotion-terms .popup-container .popup-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}
.popup-section.promotion-terms .popup-header {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-primary);
}
.popup-section.promotion-terms .popup-container .popup-header .btn {
    position: absolute;
    right: 20px;
}
.popup-section.promotion-terms .terms {
    padding-left: 16px;
    padding-top: 20px;
    margin-bottom: 20px;
    /* max-height: 98px; */
    /* overflow: auto; */
    color: var(--blue-grey-700);
}
.popup-section.promotion-terms .terms > li.normal{
   font-family: "Pretendard Normal";
}
.popup-section.promotion-terms .terms-scroll {
    position: relative;
    padding-left: 16px;
    padding-top: 20px;
    max-height: 98px;
    overflow: auto;
    border-bottom: 1px solid var(--border-primary);
}
.popup-section.promotion-terms .terms-scroll-group {
    position: relative;
}
.popup-section.promotion-terms .terms-scroll-group::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 20px;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.popup-section.promotion-terms .terms-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.popup-section.promotion-terms .terms-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.popup-section.promotion-terms .terms-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}
.popup-section.promotion-terms .terms-title{
    font-family: "Pretendard SemiBold"; 
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--blue-grey-600);
    margin-bottom: 12px;
}
.popup-section.promotion-terms .depth-terms >li{
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--blue-grey-700);
    margin-top: 8px;
    /* font-family: "Pretendard SemiBold";
    margin-top: 12px; */
}
.popup-section.promotion-terms .depth2-terms >li{
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--blue-grey-500);
    font-family: "Pretendard SemiBold";
    margin-top: 12px;
}
.popup-section.promotion-terms .depth3-terms > li{
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--blue-grey-600);
    font-family: "Pretendard Regular";
    margin-top: 4px;
}
.popup-section.promotion-terms .depth2-terms > li .terms-title{
    margin-top: 24px;
}
.popup-section.promotion-terms  .terms-text{
    color: var(--blue-grey-700);
    font-size: 1.4rem;
    line-height: 20px;
    margin-top: 8px;
}
.popup-section.promotion-terms .terms > li {
    font-family: "Pretendard SemiBold";
    font-size: 1.4rem;
    line-height: 20px;
    border-color: var(--blue-grey-700);
    text-align: left;
    margin-bottom: 8px;
    list-style-type: decimal;
}

.popup-section.promotion-terms .terms-02 > li {
    position: relative;
    margin-top: 8px;
    font-family: "Pretendard Regular";
    font-size: 1.4rem;
    line-height: 22px;
    color: var(--blue-grey-600);
    border-color: var(--blue-grey-600);
    padding-left: 12px;
}

.popup-section.promotion-terms .terms-02 > li.underline{
    text-decoration: underline;
}
.popup-section.promotion-terms .terms-02 > li::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--blue-grey-600);
}
.popup-section.promotion-terms .terms-02.none > li::after {
    display: none;
}
.popup-section.promotion-terms .terms-02.none > li {
    padding-left: 0px;
}

.popup-section.promotion-terms .terms-box {
    position: relative;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--border-primary);
}
.popup-section.promotion-terms .terms-box::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}
.popup-section.promotion-terms .form-promotion {
    margin-top: 32px;
}
.popup-section.promotion-terms .form-promotion-select{
    position: relative;
}

.popup-section.promotion-terms .form-promotion-select .select:focus-visible,
.popup-section.promotion-terms .form-promotion-select:focus-visible {
    outline: 0;
}
.popup-section.promotion-terms .form-promotion-select:focus-visible::after,
.popup-section.promotion-terms .form-promotion-select:focus::after,
.popup-section.promotion-terms .form-promotion-select:hover::after {
    -webkit-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    -o-transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition: all 0.3s cubic-bezier(0, 0.21, 0.03, 1.01);
}
.popup-section.promotion-terms .form-promotion-select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 11px;
    display: block;
    background: url("../images/ico-select-arrow.svg") no-repeat center center / contain;
    width: 20px;
    height: 20px;
}

.popup-section.promotion-terms .form-promotion-select .select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: var(--blue-grey-600);
    padding: 12px 20px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--white-color);
    cursor: pointer;
}
.popup-section.promotion-terms .form-promotion-box {
    text-align: left;
    margin-bottom: 16px;
}
.popup-section.promotion-terms .form-label {
    text-align: left;
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-500);
    margin-bottom: 12px;
}
.popup-section.promotion-terms .btn-file-upload {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--blue-grey-400);
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--white-color);
    padding: 12px 20px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 48px;
}

.popup-section.promotion-terms .btn-file-upload .icon-upload{
    display: block;
    background: url("../images/ico-plus.svg") no-repeat center center / contain;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  .popup-section.promotion-terms .form-promotion-file .file{
    display: none;
  }
  .popup-section.promotion-terms .file-list{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--blue-grey-600);
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--white-color);
    padding: 12px 20px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
  }
  .popup-section.promotion-terms .file-list .btn-close{
    display: block;
    background: url("../images/ico-file-close.svg") no-repeat center center / contain;
    width: 20px;
    height: 20px;
  }
.popup-section.promotion-terms .form-promotion-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--white-color);
    padding: 14px 12px 12px 20px;
    height: 96px;
}
.popup-section.promotion-terms .form-promotion-textarea > textarea {
    width: 100%;
    font-size: 1.4rem;
    color: var(--blue-grey-600);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.popup-section.promotion-terms .form-promotion-textarea .count {
    display: block;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--blue-grey-600);
    margin-top: 4px;
    text-align: right;
}
.popup-section.promotion-terms .form-promotion-control {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--blue-grey-600);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--blue-grey-50);
    padding: 14px 20px;
}
.popup-section.promotion-terms .form-promotion-control:focus {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--blue-grey-600);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--blue-grey-50);
    padding: 14px 20px;
}
.popup-section.promotion-terms .form-promotion .checks-group{
    border-top: 1px solid var(--border-primary);
    padding-top: 32px;
    margin-top: 32px;
    border-bottom: 1px solid var(--border-primary);
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.popup-section.promotion-terms .form-promotion .checks:first-child {
    margin-top: 0px;
} 
.popup-section.promotion-terms .form-promotion .checks {
    margin-top: 12px;
}
.popup-section.promotion-terms .form-promotion .checks input[type="checkbox"]+label::before,
.checks input[type="radio"]+label::before {
    top: 3px;
}
.popup-section.promotion-terms .form-promotion .checks .label-check > .text {
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--black-color);
    margin-top: 0px;
}
.popup-section.promotion-terms .form-promotion .checks .label-check .sub-text {
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--blue-grey-500);
    margin-top: 8px;
}
.popup-section.promotion-terms .form-promotion .btn-area {
    margin-top: 32px;
}
.popup-section.promotion-terms .guide-box{
    margin-top: 24px;
}
.popup-section.promotion-terms .guide-title{
    font-family: "Pretendard SemiBold";
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-700);
    margin-bottom: 8px;
}
.popup-section.promotion-terms .guide-text{
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--blue-grey-600);
}
.popup-section.promotion-terms .guide-text .underline{
    text-decoration: underline;
}
@media screen and (max-width:767px) {
    .popup-section.promotion-terms .popup-container {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(0%, 0%);
        border-radius: 0;
        padding: 16px 20px;
        overflow-y: auto;
    }
    .popup-section.promotion-terms .popup-header {
        border-bottom: 0;
    }
    .popup-section.promotion-terms .popup-header .title {
        text-align: center;
        font-family: "Pretendard SemiBold";
        font-size: 2rem;
        line-height: 24px;
    }
    .popup-section.promotion-terms .popup-container .popup-body{
        max-height: unset;
    }
    .popup-section.promotion-terms .terms{
        max-height: 100%;
    }
    .popup-section.promotion-terms .terms-scroll{
        height: 130px;
    }
    .popup-section.promotion-terms .popup-container::after{
        content: '';
        display: none;
        position: absolute;
    }
    .popup-section.promotion-terms .terms-scroll-group::after{
        bottom: 1px;
    }
}

.event-wonriedu-list-header-group{
    position: relative;
    z-index: 1;
    display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 12px 16px 13px;
        background-color: var(--blue-grey-50);
        border-bottom: 1px solid var(--border-primary);
        border-top: 2px solid var(--black-color);
        margin-bottom: -42px;
}
.event-wonriedu-list-header-group .content-left{
    display: flex;
    align-items: center;
        width: 100%;
        gap: 40px;
}
.event-wonriedu-list-header-group .content-left .notice-header-title:first-child{
    width: 90px;
}
.event-wonriedu-list-header-group .content-left .notice-header-title:nth-child(2){
    width: 50px;
}
.event-wonriedu-list-header-group .content-right{
    display: flex;
        align-items: center;
        gap: 40px;
        flex-shrink: 0;
    }
.event-wonriedu-list-header-group .content-right .notice-header-title:nth-child(1){
    width: 140px;
}
.event-wonriedu-list-header-group .content-right .notice-header-title:nth-child(2){
    width: 50px;
}
.event-wonriedu-list-header-group .notice-header-title{
    font-size: 1.4rem;
    line-height: 20px;
    color: var(--blue-grey-500);
}
.event-wonriedu-list .notice-item .content-left .date{
    width: 90px;
}
.event-wonriedu-list .notice-item .content-left .category{
    width: 50px;
}
.event-wonriedu-list .notice-item .content-right .date{
    width: 140px;
}
.event-wonriedu-list .notice-item .content-right .notice-badge{
    width: 50px;
}

.event-wonriedu-list .notice-item .content-left .category-moblie{
    display: none ;
}

.event-wonriedu-list .notice-item .content-left .category-pc{
    display: block;
}

.event-wonriedu-list .notice-item .content-left .category{
    font-family: "Pretendard Bold";
    margin-right: 0px;
    font-size: 1.4rem;
    line-height: 20px;

}
.notice-view-group .notice-header.none .content-left .title::after{
display: none;
}
@media screen and (max-width:767px) {
    .event-wonriedu-list-header-group{
        display: none;
    }
.notice-header-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 16px;
    border-bottom: 1px solid var(--border-primary);

}
.event-wonriedu-list .notice-item .date{
    display: block;
    margin-bottom: 12px;
}
.event-wonriedu-list .notice-item .content-right{
 display: block;
}
.event-wonriedu-list .notice-item .content-right .notice-badge{
    margin-bottom: 0px;
    margin-top: 12px;
}
.event-wonriedu-list .notice-item .content-left .category-pc{
    display: none;
}
.event-wonriedu-list .notice-item .content-left .category-moblie{
    display: inline-block;
}
.event-wonriedu-list .notice-item .content-left .date,
.event-wonriedu-list .notice-item .content-left .category,
.event-wonriedu-list .notice-item .content-right .date,
.event-wonriedu-list .notice-item .content-right .notice-badge{
    width: auto;
}


}